<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
<!-- merchant-form.component.html -->
<ng-container *ngIf="title == 'Add User' || title == 'Edit User'">
  <form [formGroup]="userForm" class="merchant-form">
    <div class="form-group" *ngIf="loginData != 'true'">
      <label for="tenant">Tenant <span style="color: red;">*</span></label>
      <mat-select formControlName="tenant" [ngStyle]=" ul.tenant.errors && ( ul.tenant.touched || ul.tenant.dirty || submitted) ? errorStyle : null ">
        <mat-option *ngFor="let tenant of tenantOptionNames" [value]="tenant.id">{{ tenant.name }}</mat-option>
     </mat-select>
     <div style="font-size: 12px;color: red;" *ngIf="ul.tenant.errors && ( ul.tenant.touched || ul.tenant.dirty || submitted)">Please select Tenant</div>
    </div>

    <div class="form-group" *ngIf="loginData != 'true'">
      <label for="role">Role <span style="color: red;">*</span></label>
      <mat-select id="role" formControlName="role" [ngStyle]=" ul.role.errors && ( ul.role.touched || ul.role.dirty || submitted) ? errorStyle : null ">
        <mat-option *ngFor="let role of roleOptionNames" [value]="role.id">{{ role.name }}</mat-option>
      </mat-select>
      <div style="font-size: 12px;color: red;" *ngIf="ul.role.errors && ( ul.role.touched || ul.role.dirty || submitted)">Please select Role</div>
    </div>

    <div class="form-group" *ngIf="loginData != 'true'">
      <label for="alert">Alert <span style="color: red;">*</span></label>
      <mat-select formControlName="alert" multiple="true" [ngStyle]=" ul.alert.errors && ( ul.alert.touched || ul.alert.dirty || submitted) ? errorStyle : null ">
        <mat-option *ngFor="let alert of alertOptionNames" [value]="alert.id">{{ alert.name }}</mat-option>
     </mat-select>
     <div style="font-size: 12px;color: red;" *ngIf="ul.alert.errors && ( ul.alert.touched || ul.alert.dirty || submitted)">Please select Alert</div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="firstName">First Name <span style="color: red;">*</span></label>
        <input id="firstName" type="text" formControlName="firstName" [ngStyle]=" ul.firstName.errors && ( ul.firstName.touched || ul.firstName.dirty || submitted) ? errorStyle : null "/>
        <div style="font-size: 12px;color: red;" *ngIf="ul.firstName.errors && ( ul.firstName.touched || ul.firstName.dirty || submitted)">Please enter valid First name</div>
      </div>
      <div class="col-md-6 form-group">
        <label for="lastName">Last Name <span style="color: red;">*</span></label>
        <input id="lastName" type="text" formControlName="lastName" [ngStyle]=" ul.lastName.errors && ( ul.lastName.touched || ul.lastName.dirty || submitted) ? errorStyle : null "/>
        <div style="font-size: 12px;color: red;" *ngIf="ul.lastName.errors && ( ul.lastName.touched || ul.lastName.dirty || submitted)">Please enter valid Last name</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="dob">Date of Birth <span style="color: red;">*</span></label>
        <input id="dob" type="date" formControlName="dob" [ngStyle]=" ul.dob.errors && ( ul.dob.touched || ul.dob.dirty || submitted) ? errorStyle : null "/>
        <div style="font-size: 12px;color: red;" *ngIf="ul.dob.errors && ( ul.dob.touched || ul.dob.dirty || submitted)">Please select Date of Birth</div>
      </div>
      <div class="col-md-6 form-group">
        <label for="email">Email <span style="color: red;">*</span></label>
        <input id="email" type="email" formControlName="email" [readonly]="title === 'Edit User'" [ngClass]="{'readonly-input': title === 'Edit User'}" [ngStyle]=" ul.email.errors && ( ul.email.touched || ul.email.dirty || submitted) ? errorStyle : null "/>
        <div style="font-size: 12px;color: red;" *ngIf="ul.email.errors && ( ul.email.touched || ul.email.dirty || submitted)">Please enter valid email</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="phone">Phone Number <span style="color: red;">*</span></label>
        <input id="phone" type="text" formControlName="phone" [ngStyle]=" ul.phone.errors && ( ul.phone.touched || ul.phone.dirty || submitted) ? errorStyle : null " />
        <div style="font-size: 12px;color: red;" *ngIf="ul.phone.errors && ( ul.phone.touched || ul.phone.dirty || submitted)">Please enter valid number</div>
      </div>
      <div class="col-md-6 form-group">
        <label for="country">Country <span style="color: red;">*</span></label>
        <input id="country" type="text" formControlName="country" [ngStyle]=" ul.country.errors && ( ul.country.touched || ul.country.dirty || submitted) ? errorStyle : null "/>
        <div style="font-size: 12px;color: red;" *ngIf="ul.country.errors && ( ul.country.touched || ul.country.dirty || submitted)">Please enter valid country name</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="altemail">Alternative Email <span style="color: red;">*</span></label>
        <input id="altemail" type="text" formControlName="altemail" [ngStyle]=" ul.altemail.errors && ( ul.altemail.touched || ul.altemail.dirty || submitted) ? errorStyle : null " />
        <div style="font-size: 12px;color: red;" *ngIf="ul.altemail.errors && ( ul.altemail.touched || ul.altemail.dirty || submitted)">Please enter valid email</div>
      </div>
      <div class="col-md-6 form-group">
        <label for="altphone">Alternative Phone Number <span style="color: red;">*</span></label>
        <input id="altphone" type="text" formControlName="altphone" [ngStyle]=" ul.altphone.errors && ( ul.altphone.touched || ul.altphone.dirty || submitted) ? errorStyle : null " />
        <div style="font-size: 12px;color: red;" *ngIf="ul.altphone.errors && ( ul.altphone.touched || ul.altphone.dirty || submitted)">Please enter valid number</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="altcountry">Alternative Country <span style="color: red;">*</span></label>
        <input id="altcountry" type="text" formControlName="altcountry" [ngStyle]=" ul.altcountry.errors && ( ul.altcountry.touched || ul.altcountry.dirty || submitted) ? errorStyle : null "/>
        <div style="font-size: 12px;color: red;" *ngIf="ul.altcountry.errors && ( ul.altcountry.touched || ul.altcountry.dirty || submitted)">Please enter valid country name</div>
      </div>
    </div>
    <div *ngIf="loginData == 'true' && title == 'Add User'"><div class="button-container">
        <button class="clean-button" (click)="openTenantDialog()">Add Role</button>
      </div>
      <div *ngFor="let item of userForm.get('tenants').value ; let i = index"  class="item-box">
        <div class="header">
          <span>{{ item.tenant.name}}</span>
          <button *ngIf="title == 'Add User'" mat-icon-button color="warn" (click)="removeTenant(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div>
            <div style="font-weight: 600;">Role : <p>{{ item.role.name}} </p> </div>
        </div>
        <b>Alerts :</b>
        <div *ngFor="let i of item.alerts">
            <p>{{ i.name}}</p>
        </div>
      </div>  
    </div>
  </form>
</ng-container>
<ng-container *ngIf="title == 'Add Role' || title == 'Edit Role'">
    <form [formGroup]="roleForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" type="text" formControlName="name" [readonly]="title === 'Edit Role'" [ngClass]="{'readonly-input': title === 'Edit Role'}">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="button-container">
            <button class="clean-button" (click)="openDialog()">Add Permission</button>
          </div>
            <div formArrayName="roles">
              <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-box">
                <div class="header">
                  <span>{{ item.controls.name.value }}</span>
                  <button mat-icon-button color="warn" (click)="removeItem(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="checkboxes">
                  <mat-checkbox formControlName="allowView">View</mat-checkbox>
                  <mat-checkbox formControlName="allowEdit">Edit</mat-checkbox>
                  <mat-checkbox formControlName="allowView">Delete</mat-checkbox>
                </div>
              </div>
            </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Alert' || title == 'Edit Alert'">
    <form [formGroup]="alertForm" class="merchant-form">
        <div class="form-group">
            <div class="form-group">
                <label for="name">Name <span style="color: red;">*</span></label>
                <input id="name" type="text" formControlName="name" [ngStyle]=" al.name.errors && ( al.name.touched || al.name.dirty || submitted) ? errorStyle : null ">
                <div style="font-size: 12px;color: red;" *ngIf="al.name.errors && ( al.name.touched || al.name.dirty || submitted)">Please enter valid name</div>
              </div>
          <label for="originator">Originator <span style="color: red;">*</span></label>
          <select id="originator" formControlName="originator" [ngStyle]=" al.originator.errors && ( al.originator.touched || al.originator.dirty || submitted) ? errorStyle : null ">
            <option value="SERVER">SERVER</option>
            <option value="SERVER">DEVICE</option>
          </select>
          <div style="font-size: 12px;color: red;" *ngIf="al.originator.errors && ( al.originator.touched || al.originator.dirty || submitted)">Please select Originator</div>
        </div>
        <div class="form-group">
            <label for="alert">Alert <span style="color: red;">*</span></label>
            <select id="alert" formControlName="alert" [ngStyle]=" al.alert.errors && ( al.alert.touched || al.alert.dirty || submitted) ? errorStyle : null ">
              <option value="LOW">LOW</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="HIGH">HIGH</option>
            </select>
            <div style="font-size: 12px;color: red;" *ngIf="al.alert.errors && ( al.alert.touched || al.alert.dirty || submitted)">Please select alert</div>
          </div>
          <div class="form-group">
            <label for="template">Template <span style="color: red;">*</span></label>
            <select id="template" formControlName="template" [ngStyle]=" al.template.errors && ( al.template.touched || al.template.dirty || submitted) ? errorStyle : null ">
              <option value="Email">Email</option>
            </select>
            <div style="font-size: 12px;color: red;" *ngIf="al.template.errors && ( al.template.touched || al.template.dirty || submitted)">Please select Template</div>
          </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="checkbox-group1">
            <label>
              <input type="checkbox" (click)="applyValidation()" formControlName="checkbox1"> Thresholed Applicable
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox2"> Custom Alert
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox3"> Allow Auto Close
            </label>
          </div>

        <div class="form-group">
          <label for="tvalue">Thresold Value <span *ngIf="al.checkbox1.value" style="color: red;">*</span></label>
          <input id="tvalue" type="text" formControlName="tvalue" [ngStyle]=" al.tvalue.errors && ( al.tvalue.touched || al.tvalue.dirty || submitted) ? errorStyle : null ">
          <div style="font-size: 12px;color: red;" *ngIf="al.tvalue.errors && ( al.tvalue.touched || al.tvalue.dirty || submitted)">Please enter thresold value</div>
        </div>

        <div class="form-group">
          <label for="dvalue">Default Value <span style="color: red;">*</span></label>
          <input id="dvalue" type="text" formControlName="dvalue" [ngStyle]=" al.dvalue.errors && ( al.dvalue.touched || al.dvalue.dirty || submitted) ? errorStyle : null ">
          <div style="font-size: 12px;color: red;" *ngIf="al.dvalue.errors && ( al.dvalue.touched || al.dvalue.dirty || submitted)">Please enter default value</div>
        </div>

        <div class="form-group">
            <label for="minvalue">Min Value <span style="color: red;">*</span></label>
            <input id="minvalue" type="text" formControlName="minvalue" [ngStyle]=" al.minvalue.errors && ( al.minvalue.touched || al.minvalue.dirty || submitted) ? errorStyle : null ">
            <div style="font-size: 12px;color: red;" *ngIf="al.minvalue.errors && ( al.minvalue.touched || al.minvalue.dirty || submitted)">Please enter min name</div>
          </div>

          <div class="form-group">
            <label for="maxvalue">Max Value <span style="color: red;">*</span></label>
            <input id="maxvalue" type="text" formControlName="maxvalue" [ngStyle]=" al.maxvalue.errors && ( al.maxvalue.touched || al.maxvalue.dirty || submitted) ? errorStyle : null ">
            <div style="font-size: 12px;color: red;" *ngIf="al.maxvalue.errors && ( al.maxvalue.touched || al.maxvalue.dirty || submitted)">Please enter max name</div>
          </div>

          <div class="form-group">
            <label for="templateId">Template Id <span style="color: red;">*</span></label>
            <input id="templateId" type="text" formControlName="templateId" [ngStyle]=" al.templateId.errors && ( al.templateId.touched || al.templateId.dirty || submitted) ? errorStyle : null ">
            <div style="font-size: 12px;color: red;" *ngIf="al.templateId.errors && ( al.templateId.touched || al.templateId.dirty || submitted)">Please enter Template Id</div>
          </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Permission' || title == 'Edit Permission'">
    <form [formGroup]="permissionForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Permission Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="permission">Permission Type:</label>
            <select id="permission" formControlName="permission">
              <option value="Default">Default</option>
              <option value="Custom">Custom</option>
            </select>
          </div>
          <div class="form-group checkbox-group">
            <label>
              <input type="checkbox" formControlName="checkbox1"> Modify View
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox2"> Modify Edit
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox3"> Modify Delete
            </label>
          </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Tenant' || title == 'Edit Tenant'">
    <form [formGroup]="tenantForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Tenant Name <span style="color: red;">*</span></label>
          <input id="name" type="text" formControlName="name" [readonly]="title === 'Edit Tenant'"  [ngClass]="{'readonly-input': title === 'Edit Tenant'}" [ngStyle]=" tl.name.errors && ( tl.name.touched || tl.name.dirty || submitted) ? errorStyle : null ">
          <div style="font-size: 12px;color: red;" *ngIf="tl.name.errors && ( tl.name.touched || tl.name.dirty || submitted)">Please enter valid name</div>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="type">Tenant Type <span style="color: red;">*</span></label>
            <select id="type" formControlName="type" [ngStyle]=" tl.type.errors && ( tl.type.touched || tl.type.dirty || submitted) ? errorStyle : null ">
              <option value="INDIVIDUAL">INDIVIDUAL</option>
              <option value="COMPANY">COMPANY</option>
              <option value="ORGANIZATION">ORGANIZATION</option>
              <!-- <option value="SA">SA</option> -->
            </select>
            <div style="font-size: 12px;color: red;" *ngIf="tl.type.errors && ( tl.type.touched || tl.type.dirty || submitted)">Please enter valid name</div>
          </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Merchant' || title == 'Edit Merchant'">
    <form [formGroup]="merchantForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Merchant Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="cname">Contact Name::</label>
          <input id="cname" type="text" formControlName="cname">
        </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="text" formControlName="email">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input id="phone" type="text" formControlName="phone">
          </div>
      </form>
</ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end" class="d-flex justify-content-evenly">
  <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
