<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
<!-- merchant-form.component.html -->
<ng-container *ngIf="title == 'Add User' || title == 'Edit User'">
  <form [formGroup]="userForm" class="merchant-form">
    <div class="form-group" *ngIf="loginData === 'true'">
      <label for="tenant">Tenant:</label>
      <!-- <select id="tenant" formControlName="tenant">
        <option *ngFor="let tenant of tenantOptionNames" value="tenant">{{ tenant }}</option>
      </select> -->
      <mat-select formControlName="tenant" [multiple]="isSAValue">
        <mat-option *ngFor="let tenant of tenantOptionNames" [value]="tenant">{{ tenant }}</mat-option>
     </mat-select>
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <mat-select id="role" formControlName="role" [multiple]="isSAValue">
        <mat-option *ngFor="let role of roleOptionNames" [value]="role">{{ role }}</mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label for="alert">Alert:</label>
      <select id="alert" formControlName="alert">
        <option *ngFor="let alert of alertOptionNames" value="alert">{{ alert }}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" formControlName="firstName" />
      </div>
      <div class="col-md-6 form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" formControlName="lastName" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="dob">Date of Birth:</label>
        <input id="dob" type="date" formControlName="dob" />
      </div>
      <div class="col-md-6 form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="phone">Phone Number:</label>
        <input id="phone" type="text" formControlName="phone" />
      </div>
      <div class="col-md-6 form-group">
        <label for="country">Country:</label>
        <input id="country" type="text" formControlName="country" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="altemail">Alternative Email:</label>
        <input id="altemail" type="text" formControlName="altemail" />
      </div>
      <div class="col-md-6 form-group">
        <label for="altphone">Alternative Phone Number:</label>
        <input id="altphone" type="text" formControlName="altphone" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="altcountry">Alternative Country:</label>
        <input id="altcountry" type="text" formControlName="altcountry" />
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="title == 'Add Role' || title == 'Edit Role'">
    <form [formGroup]="roleForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="button-container">
            <button class="clean-button" (click)="openDialog()">Add Permission</button>
          </div>
            <div formArrayName="roles">
              <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-box">
                <div class="header">
                  <span>{{ item.controls.label.value }}</span>
                  <button mat-icon-button color="warn" (click)="removeItem(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="checkboxes">
                  <mat-checkbox formControlName="view">View</mat-checkbox>
                  <mat-checkbox formControlName="edit">Edit</mat-checkbox>
                  <mat-checkbox formControlName="delete">Delete</mat-checkbox>
                </div>
              </div>
            </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Alert' || title == 'Edit Alert'">
    <form [formGroup]="alertForm" class="merchant-form">
        <div class="form-group">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" type="text" formControlName="name">
              </div>
          <label for="originator">Originator:</label>
          <select id="originator" formControlName="originator">
            <option value="Server">Server</option>
            <option value="Device">Device</option>
          </select>
        </div>
        <div class="form-group">
            <label for="alert">Alert:</label>
            <select id="alert" formControlName="alert">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
          <div class="form-group">
            <label for="template">Template:</label>
            <select id="template" formControlName="template">
              <option value="Email">Email</option>
            </select>
          </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="checkbox-group1">
            <label>
              <input type="checkbox" formControlName="checkbox1"> Thresholed Applicable
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox2"> Custom Alert
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox3"> Allow Auto Close
            </label>
          </div>

        <div class="form-group">
          <label for="tvalue">Thresold Value:</label>
          <input id="tvalue" type="text" formControlName="tvalue">
        </div>

        <div class="form-group">
          <label for="dvalue">Default Value:</label>
          <input id="dvalue" type="text" formControlName="dvalue">
        </div>

        <div class="form-group">
            <label for="minvalue">Min Value:</label>
            <input id="minvalue" type="text" formControlName="minvalue">
          </div>

          <div class="form-group">
            <label for="maxvalue">Max Value:</label>
            <input id="maxvalue" type="text" formControlName="maxvalue">
          </div>

          <div class="form-group">
            <label for="templateId">Template Id:</label>
            <input id="templateId" type="text" formControlName="templateId">
          </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Permission' || title == 'Edit Permission'">
    <form [formGroup]="permissionForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Permission Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="permission">Permission Type:</label>
            <select id="permission" formControlName="permission">
              <option value="Default">Default</option>
              <option value="Custom">Custom</option>
            </select>
          </div>
          <div class="form-group checkbox-group">
            <label>
              <input type="checkbox" formControlName="checkbox1"> Modify View
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox2"> Modify Edit
            </label>
            <label>
              <input type="checkbox" formControlName="checkbox3"> Modify Delete
            </label>
          </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Tenant' || title == 'Edit Tenant'">
    <form [formGroup]="tenantForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Tenant Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="3" style="resize: none;" id="description" type="text" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="type">Tenant Type:</label>
            <select id="type" formControlName="type">
              <option value="Individual">Individual</option>
              <option value="Company">Company</option>
              <option value="Organization">Organization</option>
              <option value="SA">SA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="stype">Sub Type:</label>
            <input id="stype" type="text" formControlName="stype">
          </div>
      </form>
</ng-container>
<ng-container *ngIf="title == 'Add Merchant' || title == 'Edit Merchant'">
    <form [formGroup]="merchantForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Merchant Name:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="cname">Contact Name::</label>
          <input id="cname" type="text" formControlName="cname">
        </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="text" formControlName="email">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input id="phone" type="text" formControlName="phone">
          </div>
      </form>
</ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end" class="d-flex justify-content-evenly">
  <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary" (click)="onConfirm()" [mat-dialog-close]="true">Confirm</button>
</mat-dialog-actions>
