<section class="login-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img src="assets/img/toms.png" alt="image">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <h3>Welcome back</h3>
              <form *ngIf="!showPasswordField && !showDropdown && !forgotPassword && !enterOtp && !enterNewPass" (ngSubmit)="onSubmitEmail()">
                <div class="form-group mb-3">
                  <input
                    type="email"
                    id="username"
                    [(ngModel)]="username"
                    name="username"
                    placeholder="Your email address"
                    class="form-control"
                    required
                    email>
                </div>

                <button type="submit" class="default-btn" *ngIf="!loadingEmail">
                  <i class="bx bxs-hot me-2"></i>
                  Validate Email<span></span>
                </button>
                <button class="loading-btn" type="button" disabled *ngIf="loadingEmail">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </form>


              <form *ngIf="showPasswordField && !forgotPassword" (ngSubmit)="onSubmitPassword()">
                <div class="form-group mb-3">
                  <input
                    type="password"
                    id="password"
                    [(ngModel)]="password"
                    name="password"
                    placeholder="Your password"
                    class="form-control"
                    required>
                </div>

                <div class="form-group mt-3 d-flex justify-content-end">
                  <a class="log" (click)="onForgotPasswordClick()">Forgot Password?</a>
                </div>

                <button type="submit" class="default-btn" *ngIf="!loadingPassword">
                  <i class="bx bxs-hot me-2"></i>
                  Login<span></span>
                </button>

                <button class="loading-btn" type="button" disabled *ngIf="loadingPassword">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>


              </form>

              <!-- New Password Form -->
              <form *ngIf="forgotPassword" (ngSubmit)="onSubmitEmailforOtp()">
                <div class="form-group mb-3">
                  <input
                  type="email"
                  id="usernameforgot"
                  [(ngModel)]="usernameforgot"
                  name="usernameforgot"
                  placeholder="Your email address"
                  class="form-control"
                  required
                  emailpassforgot>
                </div>


                <button type="submit" class="default-btn" *ngIf="!loadingOtp">
                  <i class="bx bxs-hot me-2"></i>
                  Send Verification Code<span></span>
                </button>

                <button class="loading-btn" type="button" disabled *ngIf="loadingOtp">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </form>

              <!-- Otp Confirmation -->
              <form *ngIf="enterOtp" (ngSubmit)="onSubmitOtp()">
                <div class="form-group mb-3">
                  <input
                  type="text"
                  id="getotp"
                  [(ngModel)]="getotp"
                  name="getotp"
                  placeholder="Your email otp"
                  class="form-control"
                  required
                  textotp>
                </div>


                <button type="submit" class="default-btn" *ngIf="!validateOtp">
                  <i class="bx bxs-hot me-2"></i>
                 Validate Otp<span></span>
                </button>

                <button class="loading-btn" type="button" disabled *ngIf="validateOtp">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </form>

              <!-- Enter New Password -->
              <form *ngIf="enterNewPass" (ngSubmit)="onSubmitNewPass()">
                <div class="form-group mb-3">
                  <input
                    type="password"
                    id="newPassword"
                    [(ngModel)]="newPassword"
                    name="newPassword"
                    placeholder="Your New password"
                    class="form-control"
                    required>
                    <br>
                    <input
                    type="password"
                    id="newPassword"
                    [(ngModel)]="newCPassword"
                    name="newPassword"
                    placeholder="Confirm password"
                    class="form-control"
                    required>
                </div>


                <button type="submit" class="default-btn" *ngIf="!validatePass">
                  <i class="bx bxs-hot me-2"></i>
                 Reset Password<span></span>
                </button>

                <button class="loading-btn" type="button" disabled *ngIf="validatePass">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </form>

              <form *ngIf="showDropdown" (ngSubmit)="onSubmitDropdown()">
                <div class="form-group mb-3">
                  <select
                    id="dropdown"
                    [(ngModel)]="selectedOption"
                    name="selectedOption"
                    class="form-control"
                    required>
                    <option value="" disabled selected>Select an option</option>
                    <option *ngFor="let option of dropdownOptions"[ngValue]="option">{{ option.name }}</option>
                  </select>
                  <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
                </div>

                <button type="submit" class="default-btn" *ngIf="!loadingDropdown">
                  <i class="bx bxs-hot me-2"></i>
                  Submit<span></span>
                </button>
                <button class="loading-btn" type="button" disabled *ngIf="loadingDropdown">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </form>

              <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
