<div class="breadcrumb-area">
  <h1>Organization</h1>
</div>

<div class="container">
  <div class="sidebar">
    <div class="heading">
      <h2>Organization</h2>
      <button class="mat-icons">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <ul class="nolist">
      <li class="row" *ngFor="let item of sidebarItems">
        <button class="butt col-9" [ngClass]="{'active-sidebar': selectedItem === item}" (click)="selectItem(item)">
          <span class="icon"><i class='bx bx-buildings'></i></span>&nbsp;
          {{ item }}
          <button class="mat-icons col-3" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(item)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
          </mat-menu>
        </button>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="header">
      <div class="header-info">
        <div class="title-with-image">
          <img src="assets/img/computer.png" alt="StandardPos" class="circular-image">
          <h2>{{ selectedItem }}</h2>
        </div>
      </div>
      <ul class="tabs">
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'overview'}" (click)="selectTab('overview')">
            Overview
          </button>
        </li>
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'merchant'}" (click)="selectTab('merchant')">
            Merchant
          </button>
        </li>
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
            Terminal
          </button>
        </li>
      </ul>
      <hr>
    </div>

    <div class="tab-content">
      <div *ngIf="selectedTab === 'overview'">
        <mat-card class="card">
          <mat-card-title>
            <div class="over-header">
              <span>Information</span>
              <button mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-title>
          <hr>
          <div class="over-content">
            <span class="material-icons">location_on</span>&nbsp;&nbsp;
            <span>China</span>
          </div>
          <hr>
          <div class="over-content1">
            <span class="material-icons">schedule</span>&nbsp;&nbsp;
            <div>
              Creation Time: 10/18/2022<br>
              Update Time: 10/18/2022
            </div>
          </div>
        </mat-card>
        <br>
        <div class="secondrow">
          <mat-card>
            <div class="secondrowFlex">
              <div class="right">
                <h4 style="text-align: right;">Merchant</h4>
                <p>1</p>
              </div>
              <img src="../../../../assets/img/shop.png">
            </div>
          </mat-card>
          <mat-card>
            <div class="secondrowFlex">
              <div class="right">
                <h4 style="text-align: right !important;">Terminal</h4>
                <p>63</p>
              </div>
              <img src="../../../../assets/img/terminal.png">
            </div>
          </mat-card>
        </div>
        <br>
        <mat-card class="card">
          <mat-card-title>
            <div class="over-header">
              <span>Devices Overview</span>
              <ul class="tabs">
                <li>
                  <button [ngClass]="{'active-tab': selectedTabinDevices === 'status'}"
                    (click)="selectTabinDevices('status')">
                    Status
                  </button>
                </li>
                <li>
                  <button [ngClass]="{'active-tab': selectedTabinDevices === 'model'}"
                    (click)="selectTabinDevices('model')">
                    Model
                  </button>
                </li>
              </ul>
            </div>
          </mat-card-title>
          <hr>
          <div class="sub-tab-content">
            <div *ngIf="selectedTabinDevices === 'status'">
              <app-multiple-radialbar [series]="series" [labels]="labels" totalLabel="Total Status"
                [totalValue]="totalValue">
              </app-multiple-radialbar>
            </div>
            <div *ngIf="selectedTabinDevices === 'model'">
              <app-email-send [labels]="labelsm" [series]="seriesm" [colors]="colors"></app-email-send>
            </div>
          </div>
        </mat-card>
      </div>

      <div *ngIf="selectedTab === 'merchant'">
        <h3>Merchant Information</h3>
        <div class="info-grid">
          <div class="info-item">
            <i class="fas fa-user"></i>
            <span>{{ data.merchant.name }}</span>
          </div>
          <!-- Add more merchant-related items -->
        </div>
      </div>

      <div *ngIf="selectedTab === 'terminal'">
        <app-terminal></app-terminal>
      </div>
    </div>


  </div>
</div>
