.modal-container {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Consolas', 'Monaco', monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #252526;
    border-bottom: 1px solid #333;
  }

  .format-options button, .actions button {
    background: none;
    border: none;
    color: #999;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 3px;
  }

  .format-options button.active {
    color: #fff;
    background-color: #007acc;
  }

  .actions button:hover {
    color: #fff;
    background-color: #2d2d2d;
  }

  .json-content {
    padding: 16px;
    overflow: auto;
    flex-grow: 1;
    scrollbar-width: none !important;
    height: 100vh;
    padding-bottom: 50px;
  }

  .tree-view {
    font-size: 14px;
    line-height: 1.5;
  }

  .xml-view {
    background-color: #1E1E1E;
    padding: 16px;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre;
    overflow: auto;
  }

  .xml-view pre {
    margin: 0;
    color: #D4D4D4;
  }

  .xml-container {
    background-color: #1E1E1E;
    padding: 16px;
    border-radius: 4px;
    color: #D4D4D4;
    font-family: 'Consolas', 'Monaco', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  :host ::ng-deep .xml-declaration { color: #808080; }
  :host ::ng-deep .xml-tag { color: #569CD6; }
  :host ::ng-deep .xml-attribute { color: #9CDCFE; }
  :host ::ng-deep .xml-string { color: #CE9178; }
  :host ::ng-deep .xml-content { color: #D4D4D4; }
