<div class="sidemenu-area sidebar" [class.inactive]="!isSidebarActive">
    <div class="sidemenu-header">
        <a href="/dashboard/analytics" class="navbar-brand d-flex align-items-center">
            <img src="assets/img/logo-only.png" alt="image">
            <span>ITOMS</span>
        </a>

        <div class="burger-menu d-none d-lg-block">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>

    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>

            <li class="nav-item" *ngIf="hasAccess('home')" routerLinkActive="active">
                <a routerLink="/dashboard/analytics" class="nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-home-circle'></i></span>
                    <span class="menu-title">HOME</span>
                </a>
            </li>

            <li class="nav-item" *ngIf="hasAccess('role') || hasAccess('user') || hasAccess('permission') || hasAccess('tenants') || hasAccess('hierarchies') || hasAccess('merchant') " routerLinkActive="active">
                <a class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-group'></i></span>
                    <span class="menu-title">Administration</span>
                </a>

                <ul class="sidemenu-nav-second-level">

                    <li class="nav-item" *ngIf=" hasAccess('user')" routerLinkActive="active">
                        <a routerLink="/admin/user" class="nav-link">
                            <span class="icon"><i class='bx bx-user'></i></span>
                            <span class="menu-title">User</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf=" hasAccess('role')" routerLinkActive="active">
                        <a routerLink="/admin/role" class="nav-link">
                            <span class="icon"><i class='bx bx-briefcase'></i></span>
                            <span class="menu-title">Role</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf=" hasAccess('alert')" routerLinkActive="active">
                        <a routerLink="/admin/alert" class="nav-link">
                            <span class="icon"><i class='bx bxs-bell-plus'></i></span>
                            <span class="menu-title">Alert</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="hasAccess('permission')" routerLinkActive="active">
                        <a routerLink="/admin/permission" class="nav-link">
                            <span class="icon"><i class='bx bx-bar-chart-square'></i></span>
                            <span class="menu-title">Permission</span>
                        </a>
                    </li> -->
                    <li class="nav-item" routerLinkActive="active" *ngIf="hasAccess('tenants')">
                        <a routerLink="/admin/tenants" class="nav-link">
                            <span class="icon"><i class='bx bx-color'></i></span>
                            <span class="menu-title">Tenants</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf=" hasAccess('hierarchies')">
                        <a routerLink="/admin/hierarchies" class="nav-link">
                            <span class="icon"><i class='bx bx-network-chart'></i></span>
                            <span class="menu-title">Hierarchies</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf=" hasAccess('merchant')">
                        <a routerLink="/admin/merchant" class="nav-link">
                            <span class="icon"><i class='bx bx-store'></i></span>
                            <span class="menu-title">Merchant</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-card'></i></span>
                    <span class="menu-title">TMS</span>
                </a>

                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/table/terminal" class="nav-link">
                            <span class="icon"><i class='bx bx-terminal'></i></span>
                            <span class="menu-title">Terminal</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/table/scheduling" class="nav-link">
                            <span class="icon"><i class='bx bx-server'></i></span>
                            <span class="menu-title">Deployment</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/table/packages" class="nav-link">
                            <span class="icon"><i class='bx bx-package'></i></span>
                            <span class="menu-title">Resources</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/table/parameters" class="nav-link">
                            <span class="icon"><i class='bx bx-package'></i></span>
                            <span class="menu-title">Parameters</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-mobile-alt'></i></span>
                    <span class="menu-title">Device management</span>
                </a>

                <ul class="sidemenu-nav-second-level">

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/device/device" class="nav-link">
                            <span class="icon"><i class='bx bx-mobile-alt'></i></span>
                            <span class="menu-title">Device</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/device/model" class="nav-link">
                            <span class="icon"><i class='bx bxs-shapes'></i></span>
                            <span class="menu-title">Model</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bxs-report'></i></span>
                    <span class="menu-title">Reports</span>
                </a>

                <ul class="sidemenu-nav-second-level">

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/status" class="nav-link">
                            <span class="icon"><i class='bx bx-signal-5'></i></span>
                            <span class="menu-title">Device Conn Report</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/heart" class="nav-link">
                            <span class="icon"><i class='bx bx-heart'></i></span>
                            <span class="menu-title">Device Heart Beat History</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/search" class="nav-link">
                            <span class="icon"><i class='bx bx-search-alt-2'></i></span>
                            <span class="menu-title">Device Search Report</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/software" class="nav-link">
                            <span class="icon"><i class='bx bx-check-circle'></i></span>
                            <span class="menu-title">Device Software Status</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/parameters" class="nav-link">
                            <span class="icon"><i class='bx bx-list-check'></i></span>
                            <span class="menu-title">Parameters Status</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/swap" class="nav-link">
                            <span class="icon"><i class='bx bx-bar-chart-square'></i></span>
                            <span class="menu-title">Swap Device Status</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/report/system" class="nav-link">
                            <span class="icon"><i class='bx bx-devices'></i></span>
                            <span class="menu-title">System Audit Report</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
