<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
    <div class="sidemenu-header">
        <a href="/dashboard/analytics" class="navbar-brand d-flex align-items-center">
            <img src="assets/img/logo-only.png" alt="image">
            <span>ITOMS</span>
        </a>

        <div class="burger-menu d-none d-lg-block">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>

    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard/analytics" class="nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-home-circle'></i></span>
                    <span class="menu-title">HOME</span>
                </a>
            </li>

            <!-- <li class="nav-item-title">
                Apps
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a href="#" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-envelope'></i></span>
                    <span class="menu-title">Email</span>
                    <span class="badge">3</span>
                </a>

                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/app-email/inbox" class="nav-link">
                            <span class="icon"><i class='bx bxs-inbox'></i></span>
                            <span class="menu-title">Inbox</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/app-email/read" class="nav-link">
                            <span class="icon"><i class='bx bxs-badge-check'></i></span>
                            <span class="menu-title">Read</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/app-email/compose" class="nav-link">
                            <span class="icon"><i class='bx bx-send'></i></span>
                            <span class="menu-title">Compose</span>
                        </a>
                    </li>
                </ul>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active">
                <a routerLink="/app-chat" class="nav-link">
                    <span class="icon"><i class='bx bx-message'></i></span>
                    <span class="menu-title">Chat</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/app-todo" class="nav-link">
                    <span class="icon"><i class='bx bx-badge-check'></i></span>
                    <span class="menu-title">Todo</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/app-calendar" class="nav-link">
                    <span class="icon"><i class='bx bx-calendar'></i></span>
                    <span class="menu-title">Calendar</span>
                </a>
            </li>

            <li class="nav-item-title">
                UI Elements
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/grid" class="nav-link">
                    <span class="icon"><i class='bx bx-grid-alt'></i></span>
                    <span class="menu-title">Grid</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/colors" class="nav-link">
                    <span class="icon"><i class='bx bxs-color-fill'></i></span>
                    <span class="menu-title">Colors</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="#" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-brightness'></i></span>
                    <span class="menu-title">Icons</span>
                </a>

                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/icons/boxicons" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">BoxIcons</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/icons/feathericons" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Feather Icons</span>
                        </a>
                    </li>
                </ul>
            </li> -->

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="#" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-card'></i></span>
                    <span class="menu-title">TMS</span>
                </a>

                <ul class="sidemenu-nav-second-level">
                    <!-- <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/basic-card" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Basic Card</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/colors-card" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Colors Card</span>
                        </a>
                    </li> -->

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/table/terminal" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Terminal</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/merchant" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Merchant</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/statistics-card" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Deployment</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/statistics-card" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Resources</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/statistics-card" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Group</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/statistics-card" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Update Schedule</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/profile" class="nav-link">
                    <span class="icon"><i class='bx bx-user-circle'></i></span>
                    <span class="menu-title">Profile</span>
                </a>
            </li>

            <!-- <li class="nav-item" routerLinkActive="active">
                <a routerLink="/faq" class="nav-link">
                    <span class="icon"><i class='bx bx-help-circle'></i></span>
                    <span class="menu-title">FAQ</span>
                </a>
            </li> -->

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/invoice" class="nav-link">
                    <span class="icon"><i class='bx bx-receipt'></i></span>
                    <span class="menu-title">Invoice</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/gallery" class="nav-link">
                    <span class="icon"><i class='bx bx-images'></i></span>
                    <span class="menu-title">Gallery</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/timeline" class="nav-link">
                    <span class="icon"><i class='bx bx-align-justify'></i></span>
                    <span class="menu-title">Timeline</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="#" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-chart'></i></span>
                    <span class="menu-title">Charts</span>
                </a>

                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/apex-charts" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Apex Charts</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/chartjs" class="nav-link">
                            <span class="icon"><i class='bx bx-right-arrow-alt'></i></span>
                            <span class="menu-title">Chartjs</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="#" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-group'></i></span>
                    <span class="menu-title">Administration</span>
                </a>

                <ul class="sidemenu-nav-second-level">

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-user'></i></span>
                            <span class="menu-title">User</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-briefcase'></i></span>
                            <span class="menu-title">Role</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/card/statistics-card" class="nav-link">
                            <span class="icon"><i class='bx bxs-bell-plus'></i></span>
                            <span class="menu-title">Alert</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-bar-chart-square'></i></span>
                            <span class="menu-title">Permission</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-color'></i></span>
                            <span class="menu-title">Tenants</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-network-chart'></i></span>
                            <span class="menu-title">Hierarchy Level</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-network-chart'></i></span>
                            <span class="menu-title">Hierarchy</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <span class="icon"><i class='bx bx-store'></i></span>
                            <span class="menu-title">Merchant</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- End Sidemenu Area -->
