<!-- <div class="breadcrumb-area">
    <h1>Scheduling</h1>
  </div>

<div class="container">
    <mat-card class="card">
      <mat-card-title>
        <div class="heading">
          <div class="title-container">
            <span>Deployment</span>
            <mat-form-field>
                <input type="text" class="form-control" aria-label="Deployment Name" placeholder="Deployment Name" [(ngModel)]="searchTerm" (input)="filterDeployments()">
            </mat-form-field>
          </div>
          <div class="icon-container">
            <button mat-icon-button color="primary" (click)="filterDeployments()">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-icon-button color="accent">
                <mat-icon>add</mat-icon>
              </button>
          </div>
        </div>
      </mat-card-title>
  

      <ul class="nolist">
        <li *ngFor="let deployment of deployments" class="deployment-item">
            <div class="grp">
                <button class="btn btn-light custom-button" 
                        [ngClass]="{'active-sidebar': selectedItem === deployment}" 
                        (click)="selectItem(deployment)">
                    <span class="deployment-name">{{deployment.name}}</span>
                    <div class="right-section">
                        <span class="deployment-count">{{deployment.count}}</span>
                        <img src="../../../../../assets/img/res.png">
                    </div>
                </button>
                <br>
            </div>
        </li>
    </ul>
    
    </mat-card>
    <div class="main-container">
        <div class="header">
            <span class="header-text">Deployment</span>
            <div class="header-icons">
              <button mat-icon-button color="primary">
                <span class="material-icons">qr_code</span>
              </button>
              <button mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>settings</mat-icon>
              </button>
            </div>
        </div>
        <ul class="tabs">
            <li>
              <button [ngClass]="{'active-tab': selectedTab === 'settings'}" (click)="selectTab('overview')">
                Settings
              </button>
            </li>
            <li>
              <button [ngClass]="{'active-tab': selectedTab === 'process'}" (click)="selectTab('process')">
                Process
              </button>
            </li>
            <li>
              <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
                Terminal
              </button>
            </li>
          </ul>
    </div>
  </div>
   -->

   <div class="breadcrumb-area">
    <h1>Scheduling</h1>
  </div>
  
  <div class="container">
    <mat-card class="card">
      <mat-card-title>
        <div class="heading">
          <div class="title-container">
            <span>Deployment</span>
            <mat-form-field>
              <input type="text" class="form-control" aria-label="Deployment Name" placeholder="Deployment Name" [(ngModel)]="searchTerm" (input)="filterDeployments()">
            </mat-form-field>
          </div>
          <div class="icon-container">
            <button mat-icon-button color="primary" (click)="filterDeployments()">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
  
      <ul class="nolist">
        <li *ngFor="let deployment of deployments" class="deployment-item">
          <div class="grp">
            <button class="btn btn-light custom-button" 
                    [ngClass]="{'active-sidebar': selectedItem === deployment}" 
                    (click)="selectItem(deployment)">
              <span class="deployment-name">{{deployment.name}}</span>
              <div class="right-section">
                <span class="deployment-count">{{deployment.count}}</span>
                <!-- <mat-icon>computer</mat-icon> -->
                <img src="../../../../../assets/img/res.png">
              </div>
            </button>
            <br>
          </div>
        </li>
      </ul>
    </mat-card>
  
    <div class="main-container" *ngIf="selectedItem">
      <div class="header">
          <div class="selected-item">
            <span class="header-text">Deployment</span>
            <h2>{{ selectedItem?.name }}</h2>
          </div>
        <div class="header-icons">
          <button mat-icon-button color="primary">
            <span class="material-icons">qr_code</span>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>
      
  
      <div>
        <ul class="tabs">
            <li>
              <button [ngClass]="{'active-tab': selectedTab === 'settings'}" (click)="selectTab('settings')">
                Settings
              </button>
            </li>
            <li>
              <button [ngClass]="{'active-tab': selectedTab === 'process'}" (click)="selectTab('process')">
                Process
              </button>
            </li>
            <li>
              <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
                Terminal
              </button>
            </li>
          </ul>
      </div>
    </div>
  </div>
  