<div class="breadcrumb-area">
  <h1>Deployment</h1>
</div>

<div class="row">
  <mat-card class="card">
    <mat-card-title>
      <div class="heading">
        <div class="title-container">
          <span>Deployment</span> &nbsp;
          <input type="text" class="form-control" aria-label="Deployment Name" placeholder="Deployment Name"
            [(ngModel)]="searchTerm" (input)="filterDeployments()">
        </div>
        <div class="icon-container">
          <button mat-icon-button color="primary" (click)="filterDeployments()">
            <i class="bx bx-search"></i>
          </button>
          <button mat-icon-button color="primary" (click)="openCreateDeployDialog()">
            <i class="bx bx-plus"></i>
          </button>
          <!-- <button class="btn-primary btn-icon" (click)="filterDeployments()"><i class="bx bx-search"></i></button>
          <button class="btn-primary btn-icon" (click)="openCreateTerminalDialog(true)"><i class="bx bx-plus"></i></button> -->
        </div>
      </div>
    </mat-card-title>

    <ul class="nolist">
      <li *ngFor="let deployment of filteredDeployments" class="deployment-item">
        <div class="grp">
          <button class="btn btn-light custom-button" [ngClass]="{'active-sidebar': selectedItem === deployment}"
            (click)="selectItem(deployment)">
            <span class="deployment-name">{{deployment.name}}</span>
            <div class="right-section">
              <span class="deployment-count">{{deployment.deviceCount}}</span>
              <!-- <mat-icon>computer</mat-icon> -->
              <img src="../../../../../assets/img/res.png">
            </div>
          </button>
          <br>
        </div>
      </li>
    </ul>
  </mat-card>

  <div class="main-container" *ngIf="selectedItem">
    <div class="header">
      <div class="selected-item">
        <span class="header-text">Deployment</span>
        <h2>{{ selectedItem?.name }}</h2>
      </div>
      <!-- <div class="header-icons">
          <button mat-icon-button color="primary">
            <span class="material-icons">qr_code</span>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>settings</mat-icon>
          </button>
        </div> -->
    </div>


    <div>
      <ul class="tabs">
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'settings'}" (click)="selectTab('settings')">
            Settings
          </button>
        </li>
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
            Terminal
          </button>
        </li>
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'process'}" (click)="selectTab('process')">
            Process
          </button>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedTab === 'terminal'">
      <div class="containers">
        <div class="search-bar">
          <input type="text" placeholder="SN" [(ngModel)]="searchTerms" (input)="search1()">
          <select [(ngModel)]="statusFilter" (change)="search1()">
            <option value="">Status</option>
            <option value="Pending publish">Pending publish</option>
            <option value="Published">Published</option>
          </select>
          <button class="btn-primary btn-icon"><i class="bx bx-search"></i></button>
          <button class="btn-primary btn-icon" (click)="openCreateTerminalDialog(true)"><i class="bx bx-plus"></i></button>
          <button class="btn-primary btn-icon" (click)="openCreateTerminalDialog(false)"><i class="bx bx-trash"></i></button>
        </div>
        <div class="action-bar">
          <span>{{ selectedCount }} Selected</span>
          <button class="btn-danger" [disabled]="selectedCount === 0">
            <i class='bx bx-trash' [ngStyle]="{ 'color': selectedCount === 0 ? '#6c757d' : 'white' }"> </i> Delete
          </button>
        </div>
        <table>
          <thead>
            <tr>
              <th>
                <!-- <input type="checkbox" (change)="masterToggle()" [checked]="isAllSelected()"> -->
                <div class="checkbox">
                    <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;" (change)="toggleSelectAll($event)" [checked]="isAllSelected()"/>
                    <label class="cbx" for="cbx">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                    </label>
                </div>
              </th>
              <th>SN</th>
              <th>Model</th>
              <th>Status</th>
              <th>Online Status</th>
              <th>Binding Time</th>
              <th>Process</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filteredTerminals.length === 0">
              <td colspan="5" class="no-data">No Data</td>
            </tr>
            <tr *ngFor="let terminal of filteredTerminals">
              <td>
                <input type="checkbox" 
                       (change)="toggleSelection(terminal)"
                       [checked]="isSelected(terminal)">
              </td>
              <td>{{ terminal.sn }}</td>
              <td>{{ terminal.model }}</td>
              <td>{{ terminal.status }}</td>
              <td>{{ terminal.OnlineStatus }}</td>
              <td>{{ terminal.BindingTime }}</td>
              <td>{{ terminal.Process }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="selectedTab === 'settings'">
      <mat-card class="cardInS">
        <mat-card-title>
          <div class="over-header">
            <span>Application</span>
            <button mat-icon-button color="accent">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-title>

        <!-- <div class="application">
          <div class="row" style="gap:16px">
            <mat-card class="card-with-menu" (click)="openCreateDialog()">
              <div class="card-content">
                <img class="linux" src="../../../../../assets/img/linux-icon.png">
                <span>BANKDEMO_NDK</span>
                <span>0.0.18(gcc4.9.4)</span>
                <span>Normal Update</span>
              </div>
            </mat-card>

            <mat-card class="card-with-menu">
              <div class="card-content">
                <img class="linux" src="../../../../../assets/img/linux-icon.png">
                <span>BANKDEMO_NDK</span>
                <span>0.0.18(gcc4.9.4)</span>
                <span>Normal Update</span>
              </div>
              <button mat-icon-button [matMenuTriggerFor]="menu2" class="menu-button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu2="matMenu">
                <button mat-menu-item>Change Version</button>
                <button mat-menu-item>Change Update Method</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card>
          </div>
        </div> -->
        <div class="application">
          <div class="row" style="gap:16px">
            <!-- Check if settingsInApplication is null or empty -->
            <ng-container *ngIf="settingsInApplication?.length > 0; else noDataTemplate">
              <mat-card class="card-with-menu" *ngFor="let app of settingsInApplication" (click)="openCreateDialog()">
                <div class="card-content">
                  <img class="linux" src="../../../../../assets/img/linux-icon.png">
                  <span>{{ app.name }}</span>
                  <span>{{ app.version }}</span>
                  <span>{{ app.updateMethod }}</span>
                </div>
                 <!-- <button *ngIf="app.hasMenu" mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="handleMenuAction('Change Version')">Change Version</button>
                        <button mat-menu-item (click)="handleMenuAction('Change Update Method')">Change Update Method</button>
                        <button mat-menu-item (click)="handleMenuAction('Remove')">Remove</button>
                      </mat-menu> -->
              </mat-card>
            </ng-container>
        
            <!-- No Data Template -->
            <ng-template #noDataTemplate>
              <div class="no-data-message">
                No Data Available
              </div>
            </ng-template>
          </div>
        </div>
        
        

        <!-- <hr> -->
        <!-- <div class="frimware">
                <mat-card-title>
                    <span>Firmware</span>
                </mat-card-title>
                <hr>
                <mat-card class="card-with-menu">
                    <div class="card-content">
                        <img class="linux" src="../../../../../assets/img/linux-icon.png">
                        <span>P180(SA2)</span>
                        <a href="#">3 Versions</a>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menufrim" class="menu-button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menufrim="matMenu">
                        <button mat-menu-item>Change Version</button>
                    </mat-menu>
                </mat-card>
            </div>
            <hr>
            <div class="boot-animation">
                <mat-card-title>
                    <span>Boot Animation</span>
                </mat-card-title>
                <hr>
                <mat-card class="card-with-menu">
                    <div class="card-content">
                        <img class="linux" src="../../../../../assets/img/linux-icon.png">
                        <span>P180(SA2)</span>
                        <a href="#">Empty</a>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menufrim" class="menu-button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menufrim="matMenu">
                        <button mat-menu-item>Change Version</button>
                    </mat-menu>
                </mat-card>
            </div>
            <hr>
            <div class="boot-logo">
                <mat-card-title>
                    <span>Boot Logo</span>
                </mat-card-title>
                <hr>
                <mat-card class="card-with-menu">
                    <div class="card-content">
                        <img class="linux" src="../../../../../assets/img/linux-icon.png">
                        <span>P180(SA2)</span>
                        <a href="#">Empty</a>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menufrim" class="menu-button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menufrim="matMenu">
                        <button mat-menu-item>Change Version</button>
                    </mat-menu>
                </mat-card>
            </div> -->
      </mat-card>
    </div>
    <!-- <div *ngIf="selectedTab === 'process'" class="row">
      <div class="dashboard">
        <div class="card">
          <div class="card-header">
            <h2>Connected terminals/Unconnected terminals</h2>
            <span class="info-icon">i</span>
          </div>
          <div class="chart">
            <div class="semi-circle"
              [style.background-image]="'conic-gradient(#4285F4 0deg, #4285F4 ' + connectedPercentage * 3.6 + 'deg, #F8F9FA ' + connectedPercentage * 3.6 + 'deg)'">
            </div>
            <div class="chart-labels">
              <span class="label connected">Connected terminals</span>
              <span class="label unconnected">Un...</span>
            </div>
          </div>
          <div class="stats">
            <div class="stat">
              <span class="dot blue"></span>
              <span class="percentage">{{connectedPercentage.toFixed(2)}}% ({{connectedTerminals}})</span>
              <span class="label">Connected terminals</span>
            </div>
            <div class="stat">
              <span class="dot red"></span>
              <span class="percentage">{{unconnectedPercentage.toFixed(2)}}% ({{unconnectedTerminals}})</span>
              <span class="label">Unconnected terminals</span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2>Number of active terminals</h2>
            <span class="info-icon">i</span>
          </div>
          <div class="chart">
            <div class="semi-circle"
              [style.background-image]="'conic-gradient(#EA4335 0deg, #EA4335 ' + inactivePercentage * 3.6 + 'deg, #F8F9FA ' + inactivePercentage * 3.6 + 'deg)'">
            </div>
            <div class="chart-labels">
              <span class="label active">Ac...</span>
              <span class="label inactive">Inactive terminals</span>
            </div>
          </div>
          <div class="stats">
            <div class="stat">
              <span class="dot blue"></span>
              <span class="percentage">{{activePercentage.toFixed(2)}}% ({{activeTerminals}})</span>
              <span class="label">Active terminals</span>
            </div>
            <div class="stat">
              <span class="dot red"></span>
              <span class="percentage">{{inactivePercentage.toFixed(2)}}% ({{inactiveTerminals}})</span>
              <span class="label">Inactive terminals</span>
            </div>
          </div>
        </div>
      </div>
      <div class="statistics-card">
          <h2 class="overall-progress">Overall progress {{overallProgress}}% (0/0)</h2>
          
          <div class="info-box">
            <p>The following statistics only include connected terminals, the unconnected terminal does not know the specific installation version of the terminal, so it is not included in the statistics.</p>
          </div>
          
          <h3>Statistics of updates</h3>
          
          <div class="chart-container">
            <svg width="100%" height="200">
              <line x1="40" y1="10" x2="40" y2="180" stroke="#ccc" />
              <text x="30" y="15" text-anchor="end">1</text>
              <text x="30" y="180" text-anchor="end">0</text>
              
              <line x1="40" y1="180" x2="700" y2="180" stroke="#ccc" />
              
              <polyline
                [attr.points]="getPolylinePoints()"
                fill="none"
                stroke="#4285F4"
                stroke-width="2"
              />
              
              <ng-container *ngFor="let stat of updateStatistics; let i = index">
                <text [attr.x]="40 + i * 100" y="195" text-anchor="middle">{{stat.date | date:'yyyy-MM-dd'}}</text>
              </ng-container>
            </svg>
          </div>
        </div>
    </div>
  </div> -->
  <div *ngIf="selectedTab === 'process'" class="row">
    <div class="dashboard">
      <!-- First card for Connected/Unconnected terminals -->
      <div class="card">
        <div class="card-header">
          <h2>Connected terminals/Unconnected terminals</h2>
          <span class="info-icon">i</span>
        </div>
        <div class="chart">
          <div class="semi-circle"
            [style.background-image]="'conic-gradient(#4285F4 0deg, #4285F4 ' + connectedPercentage * 3.6 + 'deg, #F8F9FA ' + connectedPercentage * 3.6 + 'deg)'">
          </div>
          <div class="chart-labels">
            <span class="label connected">Connected terminals</span>
            <span class="label unconnected">Unconnected terminals</span>
          </div>
        </div>
        <div class="stats">
          <div class="stat">
            <span class="dot blue"></span>
            <span class="percentage">{{connectedPercentage.toFixed(2)}}% ({{connectedTerminals}})</span>
            <span class="label">Connected terminals</span>
          </div>
          <div class="stat">
            <span class="dot red"></span>
            <span class="percentage">{{unconnectedPercentage.toFixed(2)}}% ({{unconnectedTerminals}})</span>
            <span class="label">Unconnected terminals</span>
          </div>
        </div>
      </div>
  
      <!-- Second card for Active/Inactive terminals -->
      <div class="card">
        <div class="card-header">
          <h2>Number of active terminals</h2>
          <span class="info-icon">i</span>
        </div>
        <div class="chart">
          <div class="semi-circle"
            [style.background-image]="'conic-gradient(#EA4335 0deg, #EA4335 ' + inactivePercentage * 3.6 + 'deg, #F8F9FA ' + inactivePercentage * 3.6 + 'deg)'">
          </div>
          <div class="chart-labels">
            <span class="label active">Active terminals</span>
            <span class="label inactive">Inactive terminals</span>
          </div>
        </div>
        <div class="stats">
          <div class="stat">
            <span class="dot blue"></span>
            <span class="percentage">{{activePercentage.toFixed(2)}}% ({{activeTerminals}})</span>
            <span class="label">Active terminals</span>
          </div>
          <div class="stat">
            <span class="dot red"></span>
            <span class="percentage">{{inactivePercentage.toFixed(2)}}% ({{inactiveTerminals}})</span>
            <span class="label">Inactive terminals</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>