<div class="breadcrumb-area">
  <h1 style="color: white;">Deployment</h1>
</div>

<div class="row">
  <mat-card class="card">
    <mat-card-title>
      <div class="heading">
        <div class="title-container">
          <span>Deployment</span> &nbsp;
          <input type="text" class="form-control" aria-label="Deployment Name" placeholder="Deployment Name"
            [(ngModel)]="searchTerm" (input)="filterDeployments()">
        </div>
        <div class="icon-container">
          <button mat-icon-button color="primary" (click)="filterDeployments()">
            <i class="bx bx-search"></i>
          </button>
          <button mat-icon-button color="primary" (click)="openCreateDeployDialog()">
            <i class="bx bx-plus"></i>
          </button>
          <!-- <button class="btn-primary btn-icon" (click)="filterDeployments()"><i class="bx bx-search"></i></button>
          <button class="btn-primary btn-icon" (click)="openCreateTerminalDialog(true)"><i class="bx bx-plus"></i></button> -->
        </div>
      </div>
    </mat-card-title>

    <ul class="nolist">
      <li *ngFor="let deployment of filteredDeployments" class="deployment-item">
        <div class="grp">
          <button class="btn btn-light custom-button" [ngClass]="{'active-sidebar': selectedItem === deployment}"
            (click)="selectItem(deployment)">
            <span class="deployment-name">{{deployment.name}}</span>
            <div class="right-section">
              <span class="deployment-count">{{deployment.deviceCount}}</span>
              <!-- <mat-icon>computer</mat-icon> -->
              <img src="../../../../../assets/img/res.png">
            </div>
          </button>
          <br>
        </div>
      </li>
    </ul>
  </mat-card>

  <div class="main-container" *ngIf="selectedItem">
    <div class="header">
      <div class="selected-item">
        <mat-icon style="color: #1F4265">rocket_launch</mat-icon>
        <h2  style="color: black; font-weight:500">{{ selectedItem?.name }}</h2>
      </div>
    </div>


    <div>
      <ul class="tabs">
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'settings'}" (click)="selectTab('settings')">
            Settings
          </button>
        </li>
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
            Terminal
          </button>
        </li>
        <li>
          <button [ngClass]="{'active-tab': selectedTab === 'process'}" (click)="selectTab('process')">
            Process
          </button>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedTab === 'terminal'">
      <div class="containers">
        <div class="search-bar">
          <input type="text" placeholder="SN" [(ngModel)]="searchTerms" (input)="search1()">
          <select [(ngModel)]="statusFilter" (change)="search1()">
            <option value="">Status</option>
            <option value="PENDING">Pending</option>
            <option value="PUBLISHED">Published</option>
          </select>
          <button class="btn-primary btn-icon"><i class="bx bx-search"></i></button>
          <button class="btn-primary btn-icon" (click)="openCreateTerminalDialog(true)"><i class="bx bx-plus"></i></button>
          <button class="btn-primary btn-icon" (click)="openCreateTerminalDialog(false)"><i class="bx bx-trash"></i></button>
        </div>
    
        <div class="action-bar">
          <span>{{ getSelectedCount() }} Selected</span>
          <button class="btn-danger" [disabled]="getSelectedCount() === 0">
            <i class='bx bx-trash' [ngStyle]="{ 'color': getSelectedCount() === 0 ? '#6c757d' : 'white' }"></i> Delete
          </button>
        </div>
    
        <div class="table-container">
          <table class="user-table">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="isAllSelected()">
                </th>
                <th *ngIf="columns[0].visible">SN</th>
                <th *ngIf="columns[1].visible">Status</th>
                <th *ngIf="columns[2].visible">Online Status</th>
                <th *ngIf="columns[3].visible">Binding Time</th>
                <th *ngIf="columns[4].visible">Process</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let terminal of paginatedTerminals">
                <td>
                  <input type="checkbox" [(ngModel)]="terminal.selected" (change)="toggleSelection(terminal)" (click)="$event.stopPropagation()">
                </td>
                <td *ngIf="columns[0].visible">{{ terminal.serialNumber }}</td>
                <td *ngIf="columns[1].visible">{{ terminal.status }}</td>
                <td *ngIf="columns[2].visible">{{ terminal.onlineStatus }}</td>
                <td *ngIf="columns[3].visible">{{ terminal.bindingTime.split('T')[0] }}</td>
                <td *ngIf="columns[4].visible">{{ terminal.processPercentage }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="pagination">
          <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
          <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
          <div class="items-per-page">
            <label for="itemsPerPage">Items per page:</label>
            <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="updateItemsPerPage()">
              <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>    
    <div *ngIf="selectedTab === 'settings'">
      <mat-card class="cardInS">
        <mat-card-title>
          <div class="over-header">
            <span>Application</span>
            <button mat-icon-button color="accent" (click)="createSettingCard()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-title>

        <div class="application">
          <div class="row" style="gap:16px">
            <!-- Check if settingsInApplication is null or empty -->
            <ng-container *ngIf="settingsInApplication?.length > 0; else noDataTemplate">
              <mat-card class="card-with-menu" *ngFor="let app of settingsInApplication" (click)="openCreateDialog()">
                <div class="card-content">
                  <img class="linux" src="../../../../../assets/img/linux-icon.png">
                  <span>{{ app.name }}</span>
                  <span>{{ app.version }}</span>
                  <span>{{ app.updateMethod }}</span>
                </div>
              </mat-card>
            </ng-container>
        
            <!-- No Data Template -->
            <ng-template #noDataTemplate>
              <div class="no-data-message">
                No Data Available
              </div>
            </ng-template>
          </div>
        </div>
        
        

      </mat-card>
    </div>
  <div *ngIf="selectedTab === 'process'" class="row">
    <div class="dashboard">
      <!-- First card for Connected/Unconnected terminals -->
      <div class="card">
        <div class="card-header">
          <h2>Connected terminals/Unconnected terminals</h2>
          <span class="info-icon">i</span>
        </div>
        <div class="chart">
          <div class="semi-circle"
            [style.background-image]="'conic-gradient(#4285F4 0deg, #4285F4 ' + connectedPercentage * 3.6 + 'deg, #F8F9FA ' + connectedPercentage * 3.6 + 'deg)'">
          </div>
          <div class="chart-labels">
            <span class="label connected">Connected terminals</span>
            <span class="label unconnected">Unconnected terminals</span>
          </div>
        </div>
        <div class="stats">
          <div class="stat">
            <span class="dot blue"></span>
            <span class="percentage">{{connectedPercentage.toFixed(2)}}% ({{connectedTerminals}})</span>
            <span class="label">Connected terminals</span>
          </div>
          <div class="stat">
            <span class="dot red"></span>
            <span class="percentage">{{unconnectedPercentage.toFixed(2)}}% ({{unconnectedTerminals}})</span>
            <span class="label">Unconnected terminals</span>
          </div>
        </div>
      </div>
  
      <!-- Second card for Active/Inactive terminals -->
      <div class="card">
        <div class="card-header">
          <h2>Number of active terminals</h2>
          <span class="info-icon">i</span>
        </div>
        <div class="chart">
          <div class="semi-circle"
            [style.background-image]="'conic-gradient(#EA4335 0deg, #EA4335 ' + inactivePercentage * 3.6 + 'deg, #F8F9FA ' + inactivePercentage * 3.6 + 'deg)'">
          </div>
          <div class="chart-labels">
            <span class="label active">Active terminals</span>
            <span class="label inactive">Inactive terminals</span>
          </div>
        </div>
        <div class="stats">
          <div class="stat">
            <span class="dot blue"></span>
            <span class="percentage">{{activePercentage.toFixed(2)}}% ({{activeTerminals}})</span>
            <span class="label">Active terminals</span>
          </div>
          <div class="stat">
            <span class="dot red"></span>
            <span class="percentage">{{inactivePercentage.toFixed(2)}}% ({{inactiveTerminals}})</span>
            <span class="label">Inactive terminals</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>