
<!-- Start Stats Cards -->

    
    <div class="welcome-card">
        <div class="image-container">
          <img src="../../../../../assets/img/welcome.png" alt="Welcome image" class="welcome-image">
        </div>
        <div class="content">
          <h2 class="welcome-text">Welcome Back,</h2>
          <h1 class="user-name">{{ welcome }}</h1>
        </div>
      </div>
    
      <div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="stats-card-box">
            <div class="icon-box">
                <i class='bx bx-bar-chart'></i>
            </div>
            <span class="sub-title">Terminals</span>
            <div class="progress-list">
                <p>{{ terminalCount }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="stats-card-box">
            <div class="icon-box" style="background-color: #13bb37;">
               <i class='bx bx-bar-chart-square'></i>
            </div>
            <span class="sub-title">Merchants</span>
            <div class="progress-list">
                <p>{{ merchantCount }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6" >
        <div class="stats-card-box">
            <div class="icon-box" style="background-color: #ff4b00;">
                <i class='bx bx-send'></i>
            </div>
            <span class="sub-title">Applications</span>
            <div class="progress-list">
                <p>{{ apkCount }}</p>
            </div>
        </div>
    </div>

</div>
<!-- End Stats Cards -->

<!-- 1 -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-card">
            <div class="card-header">
                <p>Device Model Ratio</p>
                <!-- <button class="filter-button"><i class='bx bx-filter-alt' style="color:blue"></i></button> -->
            </div>
            <div class="card-content">
                <!-- Add your pie chart component here -->
                <app-email-send [data]="data"></app-email-send>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-card">
            <div class="card-header">
                <p>New Activated Devices Number</p>
                <!-- <button class="filter-button"><i class='bx bx-filter-alt' style="color:blue"></i></button> -->
            </div>
            <div class="card-content">
                <!-- Add your pie chart component here -->
            </div>
        </div>
    </div>
</div>
<!-- 1 -->

<!--2 -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-card">
            <div class="card-header">
                <p>Device Online Number</p>
                <!-- <button class="filter-button"><i class='bx bx-filter-alt' style="color:blue"></i></button> -->
            </div>
            <div class="card-content">
                <!-- Add your pie chart component here -->
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-card">
            <div class="card-header">
                <p>Download Status</p>
                <!-- <button class="filter-button"><i class='bx bx-filter-alt' style="color:blue"></i></button> -->
            </div>
            <div class="card-content">
                <!-- Add your pie chart component here -->
            </div>
        </div>
    </div>
</div>
<!-- 2 -->

<!-- 3 -->
<div class="row">
    
    
</div>
<!-- 3 -->

<!-- 4 -->
<!-- <div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-card">
            <div class="card-header">
                <p>Average Traffic</p>
            </div>
            <div class="card-content">

            </div>
        </div>
    </div>
</div> -->
<!-- 4 -->