
<div class="dashboard-container">
  
    <div class="main-row">
      <div class="welcome-card">
        <div class="image-container">
            <object type="image/svg+xml" data="../../../../../assets/img/welcome.svg" width="100" height="100"></object>
        </div>
        <div class="content">
          <h2 class="welcome-text">Welcome Back,</h2>
          <h1 class="user-name">{{ welcome }}</h1>
        </div>
      </div>
  
      <div class="stats-cards">
        <div *ngFor="let stat of statsCards" class="stats-card">
          <div class="stats-card-header">
            <h3>{{ stat.title }}</h3>
          </div>
          <div class="stats-card-content">
            <div class="icon-box" [style.backgroundColor]="stat.color">
              <i [class]="stat.icon"></i>
            </div>
            <div class="stats-content">
              <p class="stats-number">{{ stat.value }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="settings-dropdown">
        <button class="settings-button" (click)="toggleDropdown()">
          <i class="bx bx-cog"></i>
        </button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <label *ngFor="let chart of availableCharts">
            <input type="checkbox" [checked]="chart.selected" (change)="toggleChart(chart)">
            {{ chart.name }}
          </label>
        </div>
    </div>
    </div>
  
    <div class="charts-container">
      <div class="charts-row">
        <div *ngFor="let chart of selectedCharts" class="chart-card">
          <h3>{{ chart.name }}</h3>
            <app-email-send *ngIf="chart.name === 'Device Model Ratio'" [data]="data"></app-email-send>
            <app-basic-line-chart *ngIf="chart.name === 'New Activated Devices'" [data]="activatedData"></app-basic-line-chart>
            <app-basic-line-chart1 *ngIf="chart.name === 'Device Online Number'" [data]="deviceOnlineData"></app-basic-line-chart1>
            <app-basic-line-chart2 *ngIf="chart.name === 'Download Status'" [data]="activatedData"></app-basic-line-chart2>
        </div>
      </div>
    </div>
  </div>