  <div class="settings-container">
    <button class="settings-button" (click)="toggleDropdown()">
      <i class='bx bx-cog'></i>
    </button>
    <div class="dropdown-content" [class.show]="showDropdown">
      <div *ngFor="let chart of availableCharts">
        <label>
          <input type="checkbox" 
                 [checked]="chart.selected" 
                 (change)="toggleChart(chart)">
          {{ chart.name }}
        </label>
      </div>
    </div>
  </div>

  <div class="dashboard-container">
    <div class="main-row">
      <div class="welcome-card">
        <div class="image-container">
          <object type="image/svg+xml" data="../../../../../assets/img/welcome.svg" width="100" height="100"></object>
        </div>
        <div class="content">
          <p class="welcome-text">Welcome Back,</p>
          <h2 class="user-name">{{ welcome }}</h2>
        </div>
      </div>

      <div class="stats-cards">
        <div *ngFor="let stat of statsCards" class="stats-card">
          <div class="stats-card-header">
            <h3>{{ stat.title }}</h3>
          </div>
          <div class="stats-card-content">
            <div class="icon-box" [style.backgroundColor]="stat.color">
              <i [class]="stat.icon"></i>
            </div>
            <div class="stats-content">
              <h4 class="stats-number">{{ stat.value }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="charts-container">
      <div class="charts-grid">
        <ng-container *ngFor="let chart of availableCharts">
          <div class="chart-card" [style.display]="chart.selected ? 'block' : 'none'">
            <h3>{{ chart.name }}</h3>
            <ng-container [ngTemplateOutlet]="getChartTemplate(chart.name)"
                         [ngTemplateOutletContext]="{ data: getChartData(chart.name) }">
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    
    <!-- Chart Templates -->
    <ng-template #deviceModelRatio let-data="data">
      <app-email-send [data]="data"></app-email-send>
    </ng-template>
    
    <ng-template #newActivatedDevices let-data="data">
      <app-basic-line-chart [data]="data"></app-basic-line-chart>
    </ng-template>
    
    <ng-template #deviceOnlineNumber let-data="data">
      <app-basic-line-chart1 [data]="data"></app-basic-line-chart1>
    </ng-template>
    
    <ng-template #downloadStatus let-data="data">
      <app-basic-line-chart2 [data]="data"></app-basic-line-chart2>
    </ng-template>
  </div>