.dashboard-card {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color:white;
    // border-bottom: 1px solid #e0e0e0;
    border-bottom: 1px solid #d1d1d1; /* Match the border color */
    border-top-left-radius: 8px; /* Round the top corners */
    border-top-right-radius: 8px;
}

.card-header h2 {
    margin: 0;
    font-size: 18px;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.card-content {
    padding: 20px;
    min-height: 450px; /* Adjust as needed to maintain aspect ratio */
    border-bottom-left-radius: 8px; /* Round the bottom corners */
    border-bottom-right-radius: 8px;
    background-color: white;
}

/* Ensure the cards have equal height */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-6 {
    display: flex;
    flex-direction: column;
}

.dashboard-card {
    flex-grow: 1;
}

.welcome-card {
    display: flex;
    align-items: center;
    // background-color: #f8f9fa;
    border-radius: 12px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    margin: 20px auto;
    transition: transform 0.3s ease;
  }

  .welcome-card:hover {
    transform: translateY(-5px);
  }

  .image-container {
    flex: 0 0 40%;
    padding: 20px;
  }

  .welcome-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .content {
    flex: 1;
    padding: 20px;
  }

  .welcome-text {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 8px;
  }

  .user-name {
    font-size: 2rem;
    color: #343a40;
    margin: 0;
    font-weight: bold;
  }

  @media (max-width: 576px) {
    .welcome-card {
      flex-direction: column;
    }

    .image-container {
      flex: 0 0 auto;
      width: 100%;
    }
  }