<mat-dialog-content class="json-view">
      <div >
        <!-- <div class="modal-header">
            <h3>JSON Data</h3>
            <button class="close-btn" (click)="closeModal()">✖</button>
        </div>
        <div class="modal-content">
          <pre>{{ data.items | json }}</pre>
        </div> -->
        <div class="modal-header">
            <h3>JSON Data</h3>
            <button class="close-btn" (click)="closeModal()">✖</button>
          </div>
          <div class="modal-content">
            <!-- <div class="json-item" *ngFor="let item of data.items | keyvalue">
              <div class="json-key" (click)="toggleCollapse(item.key)">
                <strong>{{ item.key }}</strong>
                <span *ngIf="isCollapsed(item.key)">[+]</span>
                <span *ngIf="!isCollapsed(item.key)">[-]</span>
              </div>
              <div *ngIf="!isCollapsed(item.key)" class="json-value">
                <pre>{{ item.value | json }}</pre>
              </div>
            </div> -->
            <ngx-json-viewer [json]="data.items"></ngx-json-viewer>
          </div>
      </div>
</mat-dialog-content>
  