/* Styling for JSON View */
.json-view {
    position: relative;
    padding: 0;
    background-color: #fff;
    max-width: 100%;
    margin-top: 10vh;
    overflow-y: auto;
    scrollbar-width: none !important;
    z-index: 10000;
    max-height: 90vh; /* To ensure content fits in the screen */
  }

  /* Header Styling */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-header h3 {
    margin: 0;
    font-size: 20px;
  }

  /* Close Button */
  .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  /* Modal Content */
  .modal-content {
    flex-grow: 1;
    background-color: #f4f4f4;
    border-radius: 4px;
    scrollbar-width: none !important;
    // overflow-y: auto;
  }

  /* Button for toggling sub-object visibility */
  .toggle-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: block;
  }

  /* Styling for JSON Items */
  .json-item {
    margin-bottom: 10px;
  }

  /* Responsiveness */
  @media (max-width: 768px) {
    .json-view {
      width: 100%;
    }

    .modal-content {
      max-height: calc(100vh - 60px);
    }
  }

  ::ng-deep .mdc-dialog__surface {
    overflow-y: visible !important;
  }
