.container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
  }
  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn-primary {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-icon {
    padding: 8px;
  }
  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-danger:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
  }
  .action-bar {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 10px;
    background-color: #e7f1ff;
    border-radius: 4px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    // border-spacing: 0 15px;
  }
  
  th, td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: white;
  }
  
  

  .no-data {
    text-align: center;
    color: #6c757d;
  }