<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
<!-- merchant-form.component.html -->
<ng-container *ngIf="title == 'Add Device' || title == 'Edit Device'">
  <form [formGroup]="deviceForm" class="merchant-form">

    
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="firstName">Serial Number:</label>
        <input id="firstName" type="text" formControlName="sno" />
      </div>
      <div class="col-md-6 form-group">
        <label for="lastName">Software Key:</label>
        <input id="lastName" type="text" formControlName="skey" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="modal">Device Modal:</label>
        <select class="form-select" id="modal" formControlName="modal">
          <option value="" selected disabled>Select Model</option>
          <option *ngFor="let i of modals" [value]="i.id">{{ i.name }}</option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label for="modal">Merchant Name:</label>
        <select class="form-select" id="modal" (change)="getHierarchy()" formControlName="merchant">
          <option *ngFor="let i of merchants" [value]="i.id">{{ i.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="hierarchy">Hierarchy:</label>
      <!-- <input id="hierarchy" type="text" formControlName="hierarchy" /> -->
      <select class="form-select" id="hierarchy" formControlName="hierarchy">
        <option value="" selected disabled>Select Hierarchy</option>
        <option *ngFor="let i of hirearchies" [value]="i">{{ i }}</option>
      </select>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="title == 'Add Model' || title == 'Edit Model'">
    <form [formGroup]="modalForm" class="merchant-form">
        <div class="form-group">
          <label for="name">Device Model:</label>
          <input id="name" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">OEM:</label>
          <input id="description" type="text" formControlName="description">
        </div>
      </form>
</ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end" class="d-flex justify-content-evenly">
  <button class="btn btn-secondary" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary" [mat-dialog-close]="true" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
