<div class="container-fluid" *ngIf="views">
  <!-- Header Section -->
  <div class="row align-items-center py-3">
    <div class="col">
      <h2 class="mb-0">Terminal <span class="badge bg-grey text-dark fs-6">{{data.length}}</span></h2>
    </div>
  </div>

  <!-- Buttons Section -->
  <div class="row align-items-center">
    <div class="col d-flex flex-wrap">
      <button class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined">schedule</span>
        <span>Device Event Log</span>
      </button>
      <button class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined">download</span>
        <span>Export</span>
      </button>
      <button class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined">location_on</span>
        <span>Device Location</span>
      </button>
      <button class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined">edit</span>
        <span>TID Batch Modification</span>
      </button>
    </div>
  </div>

  <hr style="border: 1px solid grey; opacity: 0.1;">

  <!-- Filter and Search Section -->
<div class="row mb-4">
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="Device SN / TID" [(ngModel)]="searchText" (input)="applyFilter()">
  </div>
  <div class="col-md-2">
    <select class="form-select" [(ngModel)]="selectedOption1" (change)="applyFilter()">
      <option value="" disabled selected>Status</option>
      <option *ngFor="let option of optionStatus" [value]="option">{{ option }}</option>
    </select>
  </div>
  <div class="col-md-2">
    <select class="form-select" [(ngModel)]="selectedOption2" (change)="applyFilter()">
      <option value="" disabled selected>Model</option>
      <option *ngFor="let option of optionModel" [value]="option">{{ option }}</option>
    </select>
  </div>
  <div class="col-md-2 d-flex">
    <button *ngIf="searchText || selectedOption1 || selectedOption2 " class="btn btn-primary me-2" style="height: 40px;" (click)="clearValues()">
      <i class="bx bx-x-circle"></i>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="filterMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item *ngFor="let column of columns; let i = index">
        <mat-checkbox [checked]="columnsVisibility[i]" (change)="toggleColumn(i)">
          {{ column }}
        </mat-checkbox>
      </button>
    </mat-menu>
  </div>
</div>



  <div class="row align-items-center"
  [ngClass]="{'bg-light-grey': getSelectedCount() === 0,'cursor-not-allowed': getSelectedCount() === 0}">
<div class="col-md-2 sel">
 <span>{{ getSelectedCount() }} Selected</span>
</div>
<div class="col d-inline-flex text-start">
 <div class="button-group">
   <button class="btn btn-outline-primary"
           [disabled]="getSelectedCount() === 0"
           [ngClass]="{'btn-active': getSelectedCount() > 0}">
     <mat-icon>lock</mat-icon> Lock
   </button>
   <button class="btn btn-outline-primary"
           [disabled]="getSelectedCount() === 0"
           [ngClass]="{'btn-active': getSelectedCount() > 0}">
     <mat-icon>lock_open</mat-icon> Unlock
   </button>
   <button class="btn btn-outline-primary"
           [disabled]="getSelectedCount() === 0"
           [ngClass]="{'btn-active': getSelectedCount() > 0}">
     <mat-icon>group_add</mat-icon> Add to Group
   </button>
 </div>
</div>
</div>

<!-- Table Section -->
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="table-light">
      <tr>
        <th>
          <input type="checkbox" id="selectAll" (change)="toggleSelectAll($event)">
        </th>
        <th *ngFor="let column of columns; let i = index" [hidden]="!columnsVisibility[i]">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody class="dataRowColor">
      <tr *ngFor="let device of paginatedDevices" (click)="row(device)">
        <td>
          <input type="checkbox" [(ngModel)]="device.selected">
        </td>
        <td *ngFor="let column of columns; let i = index" [hidden]="!columnsVisibility[i]">
          <!-- Ensure the correct data is displayed based on the column -->
          <ng-container [ngSwitch]="column">
            <span *ngSwitchCase="'Serial Number'">{{ device.serialNumber || 'N/A' }}</span>
            <span *ngSwitchCase="'Model'">{{ device.model || 'N/A' }}</span>
            <span *ngSwitchCase="'Status'">{{ device.status || 'N/A' }}</span>
            <span *ngSwitchDefault>{{ 'N/A' }}</span>
          </ng-container>
        </td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(device)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDeleteDialog(device)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>



  <!-- Pagination Section -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="javascript:void(0);" (click)="previousPage()">Previous</a>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
        <a class="page-link" href="javascript:void(0);" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="javascript:void(0);" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div style="height: 50px;" *ngIf="views"></div>

<ng-container *ngIf="insideView">
  <app-terminal-view [device]="selectedDevice" [view]="views" [insideview]="insideView" (viewChange)="onViewChange($event)" (insideviewChange)="onInsideViewChange($event)"></app-terminal-view>
</ng-container>