<div class="container-fluid">
    <!-- Terminal Title and Badge -->
    <div class="row align-items-center py-3">
      <div class="col">
        <h2 class="mb-0">Terminal <span class="badge bg-grey text-dark fs-6">61</span></h2>
      </div>
    </div>
    
    <!-- Buttons Row -->
    <div class="row align-items-center">
      <div class="col d-flex flex-wrap">
        <button class="btn btn-link me-3">
          <mat-icon>history</mat-icon>  Device Event Log
        </button>
        <button class="btn btn-link me-3">
          <mat-icon>file_download</mat-icon> 
        <mat-icon>arrow_drop_down</mat-icon> Export
        </button>
        <button class="btn btn-link me-3">
          <mat-icon>location_on</mat-icon> Device Location
        </button>
        <button class="btn btn-link">
          <mat-icon>edit</mat-icon> TID Batch Modification
        </button>
      </div>
    </div>
  
    <!-- Divider -->
    <div class="row">
      <div class="col">
        <hr class="my-3">
      </div>
    </div>
  </div>
  