  <div class="admin-panel">

    <div class="breadcrumb-area">
        <h1>Model</h1>
        <ol class="breadcrumb">
          <li>Device Management</li>
          <li>Model</li>
        </ol>
      </div>
  
  
    <div class="controls-container">
      <div class="search-container">
        <input type="text" class="search-input" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search Models...">
        <button class="search-button"><i class="material-icons">search</i></button>
      </div>
  
      <button class="add-button" (click)="openCreateDialog(false)">
        <i class="material-icons">add</i> Add Model
      </button>
  
      <div class="column-manager">
        <button class="column-manager-button" (click)="columnList.classList.toggle('active')">
          <i class="material-icons">filter_list</i> Columns
        </button>
        <div class="column-list" #columnList>
          <label *ngFor="let column of columns; let i = index">
            <input type="checkbox" [checked]="column.visible" (change)="toggleColumn(i)">
            {{ column.name }}
          </label>
        </div>
      </div>
    </div>
  
    <div class="table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th style="text-align: left;" *ngIf="columns[0].visible">Device Model</th>
            <th style="text-align: left;" *ngIf="columns[1].visible">OEM</th>
            <th *ngIf="columns[2].visible">Description</th>
            <th *ngIf="columns[3].visible">Created Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of paginatedDevices">
            <td style="text-align: left;" *ngIf="columns[0].visible">{{ device.name }}</td>
            <td style="text-align: left;" *ngIf="columns[1].visible">{{ device.oem }}</td>
            <td style="text-align: left;" *ngIf="columns[2].visible">{{ device.description }}</td>
            <td *ngIf="columns[3].visible">{{ device.fulldate }}</td>
            <td class="actions-cell">
              <button class="icon-button edit" (click)="openCreateDialog(device, true)"  data-tooltip="Edit Device">
                <i class="material-icons">edit</i>
              </button>
              <button class="icon-button deactivate" (click)="openDeleteDialog(device)"  data-tooltip="Delete Device">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  
    <div class="pagination">
        <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        <div class="items-per-page">
          <label for="itemsPerPage">Items per page:</label>
          <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="updatePagination()">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div style="height: 50px;"></div>
  </div>
  </div>
  