<div class="breadcrumb-area">
    <h1>Device Management</h1>
    <ol class="breadcrumb">
      <li class="item">Model</li>
    </ol>
  </div>

  <div class="search-container">
    <input [(ngModel)]="searchTerm" placeholder="Device SN" (input)="search()">
    <button class="headerIcons" (click)="search()"><i class="bx bx-search"></i></button>
    <button class="headerIcons" (click)="openCreateDialog(false)"><i class="bx bx-plus"></i></button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Device Model</th>
        <th>OEM</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of filteredDevices">
        <td>{{ device.name }}</td>
        <td>{{ device.description }}</td>
        <td>{{ device.fulldate }}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openCreateDialog(device,true)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDeleteDialog(device)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
      </tr>
    </tbody>
  </table>
<!-- styling good no funtionality-->
      <!-- <div class="file-manager">
        <div class="search-bar">
          <input [(ngModel)]="searchTerm" placeholder="Enter keywords to filter" (input)="applyFilter()">
        </div>
  
        <div class="file-list">
          <div class="file-header">
            <div class="checkbox-column"><input type="checkbox" (change)="toggleAllSelection($event)"></div>
            <div class="name-column">File Name</div>
            <div class="type-column">Type</div>
            <div class="size-column">Size (byte)</div>
            <div class="date-column">
              <span>Search</span>
              <i class="fas fa-search"></i>
            </div>
          </div>
  
          <div class="file-item" *ngFor="let item of paginatedFiles">
            <div class="checkbox-column">
              <input type="checkbox" [(ngModel)]="item.isSelected" (change)="updateSelection()">
            </div>
            <div class="name-column">
              <i [class]="item.isDirectory ? 'fas fa-folder' : 'far fa-file'"></i>
              {{ item.name }}
            </div>
            <div class="type-column">{{ item.type }}</div>
            <div class="size-column">{{ item.size }}</div>
            <div class="date-column">{{ item.date }}</div>
          </div>
        </div>
  
        <div class="pagination">
          <button (click)="prevPage()" [disabled]="currentPage === 1">← Prev</button>
          <span>Total {{ filteredFiles.length }} {{ currentPage }}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next →</button>
        </div>
      </div> -->

      <!--without pagination-->
      <!-- <div class="file-manager">
        <div class="action-buttons">
          <button [disabled]="!hasSelection" (click)="onRefresh()">
            <i class="bx bx-refresh"></i> 
          </button>
          <button [disabled]="!hasSelection" (click)="onDelete()">
            <i class="bx bx-trash"></i> Delete
          </button>
          <button [disabled]="!hasSelection" (click)="onDownload()">
            <i class="bx bx-download"></i> Download
          </button>
          <button [disabled]="!hasSelection" (click)="onUpload()">
            <i class="bx bx-upload"></i> Upload
          </button>
        </div>
  
        <div class="search-bar">
          <input [(ngModel)]="searchTerm" placeholder="Enter keywords to filter" (input)="applyFilter()">
        </div>
  
        <div class="file-list">
          <div class="file-header">
            <div class="checkbox-column"><input type="checkbox" (change)="toggleAllSelection($event)"></div>
            <div class="name-column">File Name</div>
            <div class="type-column">Type</div>
            <div class="size-column">Size (byte)</div>
            <div class="date-column">Date</div>
          </div>
  
          <div class="file-item" *ngFor="let item of filteredFiles">
            <div class="checkbox-column">
              <input type="checkbox" [(ngModel)]="item.isSelected" (change)="updateSelection()">
            </div>
            <div class="name-column">
              <i [class]="item.isDirectory ? 'fas fa-folder' : 'fas fa-file'"></i>
              {{ item.name }}
            </div>
            <div class="type-column">{{ item.type }}</div>
            <div class="size-column">{{ item.size }}</div>
            <div class="date-column">{{ item.date }}</div>
          </div>
        </div>
      </div> -->