  <div class="breadcrumb-area">
    <h1>Administration</h1>
    <ol class="breadcrumb">
      <li class="item">Alerts</li>
    </ol>
  </div>

  <div class="search-container">
    <input [(ngModel)]="searchTerm" placeholder="Alerts" (input)="search()">
    <button class="headerIcons" (click)="search()"><i class="bx bx-search"></i></button>
    <button class="headerIcons" *ngIf="hasEdit" (click)="openCreateDialog(false)"><i class="bx bx-plus"></i></button>
  </div>
  <table >
    <thead>
      <tr>
        <th>Alert Name</th>
        <th>Created By</th>
        <th>Updated By</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th *ngIf="hasEdit || hasDelete">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let device of filteredalerts">
      <tr>
        <td>{{ device.name }}</td>
        <td>{{ device.createdBy.userName }}</td>
        <td>{{ device.updatedBy.userName }}</td>
        <td>{{ device.createdBy.ts.split('T')[0] }}</td>
        <td>{{ device.updatedBy.ts.split('T')[0] }}</td>
        <td *ngIf="hasEdit || hasDelete">
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="hasEdit" mat-menu-item (click)="openCreateDialog(device,true)">
            <mat-icon color="green">edit</mat-icon>
            <span>Edit</span>
          </button>
          <button *ngIf="hasDelete" mat-menu-item (click)="openDeleteDialog(device)">
            <mat-icon color="red">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-container">
    <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
      <i class="bx bx-chevron-left"></i> Previous
    </button>
    <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next <i class="bx bx-chevron-right"></i>
    </button>
    <select class="pagination-select" [(ngModel)]="itemsPerPage" (change)="updatePagination()">
      <option [ngValue]="5">5 per page</option>
      <option [ngValue]="10">10 per page</option>
      <option [ngValue]="20">15 per page</option>
    </select>
  </div>
