<!-- device-search-report.component.html -->
<div class="report-container">
    <h1>Device Search Report</h1>
  
    <div class="breadcrumb">
      Reports / Standard Reports / Device / Device Search Report
    </div>
  
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Search">
      <button (click)="applyFilter()">Search</button>
    </div>
  
    <div class="actions-container">
      <button (click)="exportToExcel()">Export to Excel</button>
      <div class="dropdown">
        <button mat-icon-button [matMenuTriggerFor]="filterMenu">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu">
            <button mat-menu-item *ngFor="let column of columns; let i = index">
              <mat-checkbox [checked]="columnsVisibility[i]" (change)="toggleColumn(i)">
                {{ column }}
              </mat-checkbox>
            </button>
          </mat-menu>
      </div>
    </div>
  
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns; let i = index" [hidden]="!columnsVisibility[i]">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of filteredDevices">
            <td *ngFor="let column of columns; let i = index" [hidden]="!columnsVisibility[i]">
                <ng-container [ngSwitch]="column">
                  <span *ngSwitchCase="'Serial Number'">{{ device.serialNumber || 'N/A' }}</span>
                  <span *ngSwitchCase="'Device Id'">{{ device.deviceId || 'N/A' }}</span>
                  <span *ngSwitchCase="'Merchant Name'">{{ device.model || 'N/A' }}</span>
                  <span *ngSwitchCase="'Merchant Hirearchy'">{{ device.model || 'N/A' }}</span>
                  <span *ngSwitchCase="'Device Current Status'">{{ device.model || 'N/A' }}</span>
                  <span *ngSwitchCase="'Last Connected'">{{ device.model || 'N/A' }}</span>
                  <span *ngSwitchDefault>{{ 'N/A' }}</span>
                </ng-container>
              </td>
          
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
      <span>Showing: 1-69 of 69</span>
      <div class="pagination-controls">
        <button>&lt;&lt;</button>
        <button>&lt;</button>
        <span>Page 1 / 1</span>
        <button>&gt;</button>
        <button>&gt;&gt;</button>
      </div>
    </div>
  </div>