<!-- Breadcrumb Area -->
<div class="breadcrumb-area">
    <h1>Administration</h1>

    <ol class="breadcrumb">
        <li class="item"><a routerLink="/admin/user"><i class='bx bx-home-alt'></i></a></li>

        <li class="item">Administration</li>

        <li class="item">Tenants</li>
    </ol>
</div>
<!-- End Breadcrumb Area -->
<div class="add-user">
    <button class="btn btn-primary" (click)="openDeleteDialog()">Create Tenant</button>
</div>
<mat-card class="user-card">
    <div class="user-card-header">
      <div class="date-info">
        <p class="date">{{ day }}</p>
        <p class="day">{{ date }}</p>
        <p class="month">{{ month }}</p>
      </div>
      <div class="user-info">
        <p class="user-name">{{ tenantName }}</p>
        <p class="user-email">{{ tenantDetails }}</p>
        <p class="user-email">{{ tenantType }}</p>
      </div>
      <mat-slide-toggle
  color="primary"
  [(ngModel)]="isActive">
  {{ isActive ? 'Active' : 'Inactive' }}
</mat-slide-toggle>
    </div>
    <div class="user-card-actions">
      <button mat-icon-button color="primary" aria-label="Action 1">
        <mat-icon style="color: blue;">view_list</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Action 3">
        <mat-icon style="color: green;">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete" (click)="openDeleteDialog()">
        <mat-icon style="color: red;">delete</mat-icon>
      </button>
    </div>
  </mat-card>


