<!-- <div class="breadcrumb-area">
  <h1>Administration</h1>
  <ol class="breadcrumb">
    <li class="item"><a routerLink="/admin/user"><i class='bx bx-home-alt'></i></a></li>
    <li class="item">Administration</li>
    <li class="item">Tenants</li>
  </ol>
</div>

<div class="add-user" *ngIf="tenants.length != 0">
  <button class="btn btn-primary" (click)="openCreateDialog()">Create Alert</button>
</div>

<div *ngFor="let tenant of tenants" class="mb-4">
  <mat-card class="user-card">
    <div class="user-card-header">
      <div class="date-info">
        <p class="date">{{day}}</p>
        <p class="day">{{ date }}</p>
        <p class="month">{{ month }}</p>
      </div>
      <div class="user-info">
        <p class="user-name">{{ tenant.name }}</p>
        <p class="user-email">{{ tenant.createdBy.email }}</p>
        <p class="user-name">{{ tenant.type }}</p>
      </div>
      <mat-slide-toggle
        color="primary"
        [(ngModel)]="tenant.isActive"
        (change)="toggleStatus(tenant)">
        {{ tenant.isActive ? 'Active' : 'Inactive' }}
      </mat-slide-toggle>
    </div>
    <div class="user-card-actions">
      <button mat-icon-button color="primary" aria-label="View Details">
        <mat-icon style="color: blue;">view_list</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openCreateDialog(true)" aria-label="Action 2">
        <mat-icon style="color: green;">edit</mat-icon>
      </button>
    </div>
  </mat-card>
</div> -->

<div class="breadcrumb-area">
  <h1>Administration</h1>
  <ol class="breadcrumb">
    <li class="item">Tenants</li>
  </ol>
</div>

<div class="search-container">
  <input [(ngModel)]="searchTerm" placeholder="Permissions" (input)="search()">
  <button class="headerIcons" (click)="search()"><i class="bx bx-search"></i></button>
  <button class="headerIcons" (click)="openCreateDialog(false)"><i class="bx bx-plus"></i></button>
</div>
<table >
  <thead>
    <tr>
      <th>Tenant Name</th>
      <th>User Name</th>
      <th>Created Date</th>
      <th>Tenant Type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let device of filteredtenants;let i = index">
    <tr>
      <td>{{ device.name }}</td>
      <td>{{ device.userName }}</td>
      <td>{{ device.fulldate }}</td>
      <td>{{ device.type }}</td>
      <td>
        <mat-slide-toggle
        color="primary"
        (change)="toggleStatus(device,i)">
        {{ device.status == 'ACTIVE' ? 'Active' : 'Inactive' }}
      </mat-slide-toggle>
      </td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openCreateDialog(device,true)">
          <mat-icon color="green">edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="openDeleteDialog(device)">
          <mat-icon color="red">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
    </tr>
  </tbody>
</table>
<div class="pagination-container">
  <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
    <i class="bx bx-chevron-left"></i> Previous
  </button>
  <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next <i class="bx bx-chevron-right"></i>
  </button>
  <select class="pagination-select" [(ngModel)]="itemsPerPage" (change)="updatePagination()">
    <option [ngValue]="5">5 per page</option>
    <option [ngValue]="10">10 per page</option>
    <option [ngValue]="20">15 per page</option>
  </select>
</div>