<ng-container *ngIf="showDynamicKeys">
    <div class="breadcrumb-area">
        <h1>Parameters</h1>
      </div>

      <div class="row">
        <mat-card class="card">
          <mat-card-title>
            <div class="heading">
              <div class="title-container">
                <span>Parameters</span> &nbsp;
                  <input type="text" class="form-control" aria-label="Deployment Name" placeholder="App Name/Package Name" [(ngModel)]="searchTerm" (input)="filterDeployments()">
              </div>
            </div>
          </mat-card-title>
<br>
          <ul class="nolist">
            <li *ngFor="let deployment of filteredDeployments" class="deployment-item">
              <div class="grp">
                <button class="btn btn-light custom-button"
                        [ngClass]="{'active-sidebar': selectedItem === deployment}"
                        (click)="selectItem(deployment)">
                  <span class="deployment-name">{{deployment.name}}</span>
                  <div class="right-section">
                    <span class="deployment-count">{{deployment.deviceCount}}</span>
                    <img src="../../../../../assets/img/res.png">
                  </div>
                </button>
                <br>
              </div>
            </li>
          </ul>
        </mat-card>

        <div class="main-container" *ngIf="selectedItem">
            <div class="header">
                <div class="selected-item">
                  <span class="header-text">Parameters</span>
                  <h2>{{ selectedItem?.name }}</h2>
                </div>
                <div class="header-icons" *ngIf="selectedTab != 'emptyData'">
                    <button class="icon-button" (click)="view()">
                        <i class="bx bx-show"></i> <!-- Second icon (e.g., delete icon) -->
                      </button>
                  <button class="icon-button" (click)="edit()">
                    <i class="bx bx-edit"></i> <!-- First icon (e.g., edit icon) -->
                  </button>
                </div>
              </div>



          <div>
            <ul class="tabs" *ngIf="selectedTab != 'emptyData'">
                <li>
                  <button [ngClass]="{'active-tab': selectedTab === 'profile'}" (click)="selectTab('profile')">
                    Profile
                  </button>
                </li>
                <li>
                  <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
                    Terminal
                  </button>
                </li>
              </ul>
          </div>
          <div *ngIf="selectedTab === 'terminal'" style="overflow:auto;">
            <div class="controls">
              <input [(ngModel)]="searchTerm" placeholder="Device SN" (input)="search()">
              <select [(ngModel)]="statusFilter" (change)="search()">
                <option value="">Parameter File Status</option>
                <option value="PUBLISH_PENDING">Pending publish</option>
                <option value="PUBLISHED">Published</option>
              </select>
              <button class="icon-button" (click)="openCreateDialog()"><i class="bx bx-plus"></i></button>
              <!-- <button class="icon-button"><i class="bx bx-download"></i></button>
              <button class="icon-button"><i class="bx bx-bar-chart-alt-2"></i></button> -->
              <button class="menu-button"><i class="bx bx-menu"></i></button>
            </div>

            <table class="device-table">
              <thead>
                <tr>
                  <th class="th-device-sn">Device SN</th>
                  <th class="th-file-status">Status</th>
                  <th class="th-publish-time">Publish Time</th>
                  <th class="th-publish-time">Updated Time</th>
                  <th class="th-operation">Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="filteredDevices.length === 0">
                    <td colspan="5" class="no-data-message">No data available</td>
                </tr>
                <tr *ngFor="let device of filteredDevices" style="height: 50px;">
                  <td class="td-device-sn" style="white-space: nowrap;">{{ device.serialNumber }}</td>
                  <td class="td-file-status" style="white-space: nowrap;">
                    <span>
                      {{ device.jobStatus  }}
                    </span>
                  </td>
                  <td class="td-publish-time" style="white-space: nowrap;">{{ device.createdBy.ts | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                  <td class="td-publish-time" style="white-space: nowrap;">{{ device.updatedBy.ts | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                  <td class="td-operation">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="edit()">
                        <mat-icon>edit</mat-icon>
                        Edit
                      </button>
                      <button mat-menu-item (click)="delete(device.id)">
                        <mat-icon>delete</mat-icon>
                        Delete
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="selectedTab === 'emptyData'">
            <div class="centered-div">
                No parameter template has been configured in this parameter application.
            </div>
            <div style="text-align: center;margin-top:5%;">
                Click <span (click)="designSelection()" style="color: blue;"><u>Design</u></span> to start configuring the parameter template.
            </div>
          </div>
          <div *ngIf="selectedTab === 'profile'">
            <div class="row">
                <b class="col-11">Information</b>
                <button class="col-1" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div>
                <table class="info-table">
                    <tr style="background-color: rgb(236, 230, 230);">
                      <td>Template Mode</td>
                      <td>Terminal Cfg file Format</td>
                    </tr>
                    <tr>
                        <td><button mat-button color="primary">Simple</button></td>
                        <td><button mat-button color="primary">JSON</button></td>
                      </tr>
                      <tr style="background-color: rgb(236, 230, 230);">
                        <td>Creation Time</td>
                        <td>Last Modification Time</td>
                      </tr>
                      <tr>
                          <td>{{creationTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                          <td>{{modificaionTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                      </tr>
                </table>
                <table class="info-table">
                    <tr class="single" style="background-color: rgb(236, 230, 230);">
                        <td>Number of Parameters</td>
                      </tr>
                      <tr class="single">
                          <td>{{parameterCount}}</td>
                      </tr>
                </table>
                <br>
                <table class="info-table">
                    <tr class="single" style="background-color: rgb(236, 230, 230);">
                        <td>Description</td>
                      </tr>
                      <tr class="single">
                          <td></td>
                      </tr>
                </table>
                <br>
                <div class="w-100">
                    <!-- <mat-card class="col-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3>Background generation progress of terminal parameter file</h3>
                        </div>
                        <app-radialbar-semi-circular-gauge></app-radialbar-semi-circular-gauge>
                    </mat-card> -->
                <mat-card>
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Terminal Parameter Update Statistics</h3>
                    </div>
                    <app-profile-chart [labels]="labelsm" [series]="seriesm" [colors]="colors"></app-profile-chart>
                </mat-card>
                </div>
            </div>
          </div>
        </div>
      </div>
</ng-container>
<ng-container *ngIf="!showDynamicKeys">
    <div class="headerButton d-flex align-items-center justify-content-between">
      <div class="left-section d-flex align-items-center">
        <button class="d-flex align-items-center" (click)="showDynamicKeys = true">
          <span class="material-symbols-outlined">arrow_back</span>
          <span class="ms-2">Back</span>
        </button>
        <span class="app-name ms-3">App Name: {{selectedItem?.name}}</span>
      </div>

      <div class="right-section d-flex align-items-center">
        <button class="icon-button" (click)="saveData()">
          <span class="material-symbols-outlined" style="color: #007bff;">save</span>
        </button>
        <button class="icon-button ms-3" (click)="viewData()">
          <span class="material-symbols-outlined" style="color: #3cf855;">visibility</span>
        </button>
        <button class="icon-button ms-3" mat-icon-button [matMenuTriggerFor]="menus">
          <span class="material-symbols-outlined" style="color: #777a7e;">settings</span>
        </button>
        <mat-menu #menus="matMenu">
            <button mat-menu-item>
              <mat-icon>undo</mat-icon>
              Undo
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              Redesign
            </button>
          </mat-menu>
      </div>
    </div>
    <app-profile [profile]="profile" [params]="param" [packageId]="packageId"></app-profile>
</ng-container>
