<ng-container *ngIf="showDynamicKeys">
    <div class="breadcrumb-area">
        <h1>Parameters</h1>
      </div>

      <div class="row">
        <mat-card class="card">
          <mat-card-title>
            <div class="heading">
              <div class="title-container">
                <span>Parameters</span> &nbsp;
                  <input type="text" class="form-control" aria-label="Deployment Name" placeholder="App Name/Package Name" [(ngModel)]="searchTerm" (input)="filterDeployments()">
              </div>
              <div class="icon-container">
                <button mat-icon-button class="btn btn-primary" color="primary" (click)="filterDeployments()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-title>

          <ul class="nolist">
            <li *ngFor="let deployment of filteredDeployments" class="deployment-item">
              <div class="grp">
                <button class="btn btn-light custom-button"
                        [ngClass]="{'active-sidebar': selectedItem === deployment}"
                        (click)="selectItem(deployment)">
                  <span class="deployment-name">{{deployment.name}}</span>
                  <div class="right-section">
                    <span class="deployment-count">{{deployment.count}}</span>
                    <img src="../../../../../assets/img/res.png">
                  </div>
                </button>
                <br>
              </div>
            </li>
          </ul>
        </mat-card>

        <div class="main-container" *ngIf="selectedItem">
          <div class="header">
              <div class="selected-item">
                <span class="header-text">Parameters</span>
                <h2>{{ selectedItem?.name }}</h2>
              </div>
          </div>


          <div>
            <ul class="tabs" *ngIf="selectedTab != 'emptyData'">
                <li>
                  <button [ngClass]="{'active-tab': selectedTab === 'profile'}" (click)="selectTab('profile')">
                    Profile
                  </button>
                </li>
                <li>
                  <button [ngClass]="{'active-tab': selectedTab === 'terminal'}" (click)="selectTab('terminal')">
                    Terminal
                  </button>
                </li>
              </ul>
          </div>
          <div *ngIf="selectedTab === 'terminal'">
            <div class="controls">
              <input [(ngModel)]="searchTerm" placeholder="Device SN" (input)="search()">
              <select [(ngModel)]="statusFilter" (change)="search()">
                <option value="">Parameter File Status</option>
                <option value="Pending publish">Pending publish</option>
                <option value="Published">Published</option>
              </select>
              <button class="icon-button"><i class="bx bx-search"></i></button>
              <button class="icon-button" (click)="openCreateDialog()"><i class="bx bx-plus"></i></button>
              <!-- <button class="icon-button"><i class="bx bx-download"></i></button>
              <button class="icon-button"><i class="bx bx-bar-chart-alt-2"></i></button> -->
              <button class="menu-button"><i class="bx bx-menu"></i></button>
            </div>
        
            <table class="device-table">
              <thead>
                <tr>
                  <th class="th-device-sn">Device SN</th>
                  <th class="th-organization">Organization</th>
                  <th class="th-file-version">Parameter File Version</th>
                  <th class="th-file-status">Parameter File Status</th>
                  <th class="th-publish-time">Parameter File Publish Time</th>
                  <th class="th-operation">Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let device of filteredDevices">
                  <td class="td-device-sn">{{ device.deviceSN }}</td>
                  <td class="td-organization">{{ device.organization }}</td>
                  <td class="td-file-version">{{ device.parameterFileVersion }}</td>
                  <td class="td-file-status">
                    <span [ngClass]="{'status-pending': device.parameterFileStatus === 'Pending publish',
                                      'status-published': device.parameterFileStatus === 'Published'}">
                      {{ device.parameterFileStatus }}
                    </span>
                  </td>
                  <td class="td-publish-time">{{ device.parameterFilePublishTime }}</td>
                  <td class="td-operation">
                    <button class="icon-button"><i class="bx bx-dots-vertical-rounded"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="selectedTab === 'emptyData'">
            <div class="centered-div">
                No parameter template has been configured in this parameter application.
            </div>
            <div style="text-align: center;margin-top:5%;">
                Click <span (click)="designSelection()" style="color: blue;"><u>Design</u></span> to start configuring the parameter template.
            </div>
          </div>
          <div *ngIf="selectedTab === 'profile'">
            <div class="row">
                <b class="col-11">Information</b>
                <button class="col-1" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div>
                <table class="info-table">
                    <tr style="background-color: rgb(236, 230, 230);">
                      <td>Template Mode</td>
                      <td>Terminal Cfg file Format</td>
                    </tr>
                    <tr>
                        <td><button mat-button color="primary">Simple</button></td>
                        <td><button mat-button color="primary">JSON</button></td>
                      </tr>
                      <tr style="background-color: rgb(236, 230, 230);">
                        <td>Creation Time</td>
                        <td>Last Modification Time</td>
                      </tr>
                      <tr>
                          <td>06/17/2024 17:48:17</td>
                          <td>06/17/2024 17:48:17</td>
                      </tr>
                </table>
                <table class="info-table">
                    <tr class="single" style="background-color: rgb(236, 230, 230);">
                        <td>Number of Parameters</td>
                      </tr>
                      <tr class="single">
                          <td>2</td>
                      </tr>
                </table>
                <br>
                <table class="info-table">
                    <tr class="single" style="background-color: rgb(236, 230, 230);">
                        <td>Description</td>
                      </tr>
                      <tr class="single">
                          <td></td>
                      </tr>
                </table>
                <br>
                <div class="w-100">
                    <!-- <mat-card class="col-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3>Background generation progress of terminal parameter file</h3>
                        </div>
                        <app-radialbar-semi-circular-gauge></app-radialbar-semi-circular-gauge>
                    </mat-card> -->
                <mat-card>
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Terminal Parameter Update Statistics</h3>
                    </div>
                    <!-- <app-email-send [labels]="labelsm" [series]="seriesm" [colors]="colors"></app-email-send> -->
                </mat-card>
                </div>
            </div>
          </div>
        </div>
      </div>
</ng-container>
<ng-container *ngIf="!showDynamicKeys">
    <div class="headerButton d-flex align-items-center justify-content-between">
      <div class="left-section d-flex align-items-center">
        <button class="d-flex align-items-center" (click)="showDynamicKeys = true">
          <span class="material-symbols-outlined">arrow_back</span>
          <span class="ms-2">Back</span>
        </button>
        <span class="app-name ms-3">App Name: {{selectedItem?.name}}</span>
      </div>
    
      <div class="right-section d-flex align-items-center">
        <button class="icon-button">
          <span class="material-symbols-outlined" style="color: #007bff;">save</span>
        </button>
        <button class="icon-button ms-3">
          <span class="material-symbols-outlined" style="color: #3cf855;">visibility</span>
        </button>
        <button class="icon-button ms-3">
          <span class="material-symbols-outlined" style="color: #777a7e;">settings</span>
        </button>
      </div>
    </div>    
    <app-profile></app-profile>
</ng-container>
