<div class="breadcrumb-area">
  <h1>Administration</h1>
  <ol class="breadcrumb">
    <li class="item">Merchnats</li>
  </ol>
</div>

<div class="search-container">
  <input [(ngModel)]="searchTerm" placeholder="Merchants" (input)="search()">
  <button class="headerIcons" (click)="search()"><i class="bx bx-search"></i></button>
  <button class="headerIcons" (click)="openCreateDialog(false)"><i class="bx bx-plus"></i></button>
</div>
<table >
  <thead>
    <tr>
      <th>Merchant Name</th>
      <th>Contact Name</th>
      <th>Email</th>
      <th>Created Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let device of paginatedDevices">
    <tr>
      <td>{{ device.name }}</td>
      <td><span class="status-inactive">{{ device.contactName }}</span></td>
      <td>{{ device.email }}</td>
      <td>{{ device.fulldate }}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item (click)="openCreateDialog(device)">
          <mat-icon color="green">edit</mat-icon>
          <span>Edit</span>
        </button> -->
        <button mat-menu-item (click)="openDeleteDialog(device)">
          <mat-icon color="red">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
    </tr>
  </tbody>
</table>
<div class="pagination-container">
  <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
    <i class="bx bx-chevron-left"></i> Previous
  </button>
  <span class="pagination-info">Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">
    Next <i class="bx bx-chevron-right"></i>
  </button>
  <select class="pagination-select" [(ngModel)]="itemsPerPage" (change)="updateItemsPerPage()">
    <option [ngValue]="5">5 per page</option>
    <option [ngValue]="10">10 per page</option>
    <option [ngValue]="20">15 per page</option>
  </select>
</div>