
  <div class="hierarchy-container">
    <div class="header">
      <h1>Manage Hierarchy</h1>
      <div class="header-buttons">
        <button class="btn primary" *ngIf="hasEdit" (click)="openDialog()">Manage Hierarchy Level</button>
        <!-- <button class="btn secondary">Upload Hierarchy File</button> -->
      </div>
    </div>

    <div class="hierarchy-values">
      <div *ngFor="let level of hierarchyLevels; let i = index" class="hierarchy-column">
        <h3>{{ level.name }}</h3>
        <div class="hierarchy-items">
          <div *ngFor="let item of level.items"
               class="hierarchy-item"
               [class.selected]="item === level.selectedItem"
               (click)="selectItem(i,level, item)">
            {{ item.name }}
            <div class="item-actions" (click)="$event.stopPropagation()">
              <button class="icon-btn add" (click)="addNewItem(i)">+</button>
              <!-- <button class="icon-btn delete" *ngIf="i > 0" (click)="deleteItem(item)">×</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-group">
        <button type="submit" class="btn primary" (click)="this.getLevels()">Save</button>
      </div>
  </div>
