<div class="container-fluid">
  <div class="d-flex align-items-center">
    <button class="d-flex align-items-center headerButton" (click)="toggleView()">
      <span class="material-symbols-outlined">arrow_back_ios_new</span>
      <span>Back</span>
    </button>
    <h4 class="mb-0 fw-bold text-secondary">Terminal</h4>
    <span class="ms-2 fw-500 text-primary ">SN: {{device.serialNumber}}</span>
  </div>
  <hr style="border: 1px solid grey; opacity: 0.1;">
  <div class="bg-color-darkblue">
    <img src="../../../../../../assets/img/N950.png" class="N950">
    <span class="material-symbols-outlined">account_tree</span>
    <span class="ms-2 fw-500 text-decoration-underline">DEMO</span>
  </div>
  <mat-card class="text-align-right overlap-card">
    <mat-card-header class="buttonsHeader align-items-center justify-content-center">
      <button [ngClass]="{'active-tab': selectedTab === 'overview'}" (click)="selectTab('overview')">Overview</button>
      <button [ngClass]="{'active-tab': selectedTab === 'basicinfo'}" (click)="selectTab('basicinfo')">Basic
        Info</button>
      <button [ngClass]="{'active-tab': selectedTab === 'app'}" (click)="selectTab('app')">App & Firmware</button>
      <button [ngClass]="{'active-tab': selectedTab === 'settings'}" (click)="selectTab('settings')">Settings</button>
      <button [ngClass]="{'active-tab': selectedTab === 'remote'}" (click)="selectTab('remote')">Remote
        Assistance</button>
    </mat-card-header>
  </mat-card>
  <div *ngIf="selectedTab === 'overview'"> <!-- *ngIf="selectedTab === 'overview'" -->
    <div class="cards-container">
      <div class="card" *ngFor="let card of cards">
        <div class="card-header">
          <span>{{ card.header }}</span>
          <span class="material-symbols-outlined text-primary">
            {{card.icon}}
          </span> <!-- Replace 'info' with the desired icon -->
        </div>
        <div class="card-body">
          <span class="percentage">{{ card.percentage }}%</span>
          <mat-progress-bar mode="determinate" [value]="card.percentage" class="progress-bar"></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Card with 60% width -->
      <mat-card class="custom-card card-60">
        <mat-card-header>
          <span class="card-header-title">Activity (Minutes)</span>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <div class="card-content">
          <app-web-analytics></app-web-analytics>
        </div>
      </mat-card>

      <!-- Card with 40% width -->
      <mat-card class="custom-card card-38">
        <mat-card-header class="buttonsHeader">
          <span class="location-button" (click)="abc()">Location (28.592294, 76.992886)</span>
          <input type="checkbox" id="toggleSwitch" class="custom-switch ms-2" (change)="onToggleChange($event)">
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content style="height: 300px;">
            <app-google-map [latitude]="28.592294" [longitude]="76.992886"></app-google-map>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cards-container">
      <mat-card class="custom-cards">
        <mat-card-header>
          <div class="d-flex align-items-center justify-content-between">
            <span>Traffic</span>
            <div class="header-buttons buttonsHeader">
              <button [ngClass]="{'active-tab': contentCondition === 'Device'}"
                (click)="changeContent('Device')">Device</button>
              <button [ngClass]="{'active-tab': contentCondition === 'Application'}"
                (click)="changeContent('Application')">Application</button>
            </div>
          </div>
        </mat-card-header>
        <hr class="card-divider">
        <div *ngIf="contentCondition === 'Device'">
          <mat-card-content>
            <app-dashed-line></app-dashed-line>
          </mat-card-content>
        </div>
        <div *ngIf="contentCondition === 'Application'">
          <mat-card-content>
            <app-traffic-source></app-traffic-source>
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card class="custom-cards">
        <mat-card-header>
          <span class="card-header-title">Card Method (Current Month)</span>
        </mat-card-header>
        <hr class="card-divider">
        <mat-card-content>
          <app-activity-timeline></app-activity-timeline>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Average Signal Strength
            <mat-icon matTooltip="Information about signal strength">info</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-area-datetime-x-axis></app-area-datetime-x-axis>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <div class="last-container">
        <mat-card class="history-card">
          <mat-card-header>
            <mat-card-title>Command History</mat-card-title>
            <div class="col-md-5">
              <select class="form-select" > <!-- [(ngModel)]="selectedOption2" (change)="applyFilter()" -->
                <option value="" disabled selected>Check Update</option>
                <!-- <option *ngFor="let option of optionModel" [value]="option">{{ option }}</option> -->
              </select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <table mat-table class="last-table" [dataSource]="commandDataSource">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.date}}</td>
              </ng-container>
              <ng-container matColumnDef="command">
                <th mat-header-cell *matHeaderCellDef>Command</th>
                <td mat-cell *matCellDef="let element">{{element.command}}</td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
              </ng-container>
              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon style="cursor: pointer;"  (click)="demo(element)">info</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="commandColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: commandColumns;"></tr>
            </table>
            <mat-paginator #commandPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons></mat-paginator>
          </mat-card-content>
        </mat-card>

        <mat-card class="history-card">
          <mat-card-header>
            <mat-card-title>Estate Lifecycle</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="estateDataSource">
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">{{element.action}}</td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.date}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="estateColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: estateColumns;"></tr>
            </table>
            <mat-paginator #estatePaginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"
                           showFirstLastButtons></mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
  <div class="container" *ngIf="selectedTab === 'basicinfo'">
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title>Terminal Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="details-row">
          <div class="detail-item">
            <span>Creation Time</span><span>08/26/2024 15:07:18</span>
          </div>
          <div class="detail-item">
            <span>Last Boot Time(Device Time)</span><span>08/28/2024 14:24:15</span>
          </div>
          <div class="detail-item">
            <span>Current Running Time</span><span>0:00:39</span>
          </div>
          <div class="detail-item">
            <span>MCC</span><span>-</span>
          </div>
        </div>
        <div class="details-row">
          <div class="detail-item">
            <span>Manager Email</span><span>-</span>
          </div>
          <div class="detail-item">
            <span>Address</span><span>-</span>
          </div>
          <div class="detail-item">
            <span>Remark</span><span>-</span>
          </div>
          <div class="detail-item">
            <span>Manager</span><span>-</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title>Network</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="details-row">
          <div class="detail-item">
            <span>SIM Card SN</span><span>89300000000015563131|8927000009718513820</span>
          </div>
          <div class="detail-item">
            <span>Mobile Network Operator</span><span>South Africa MTN</span>
          </div>
        </div>
        <div class="details-row">
          <div class="detail-item">
            <span>APN</span><span>-</span>
          </div>
          <div class="detail-item">
            <span>Phone number</span><span>-</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title>Battery</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="details-row">
          <div class="detail-item">
            <span>Terminal Red Alert</span><span>Off</span>
          </div>
          <div class="detail-item">
            <span>Terminal Yellow Alert</span><span>Off</span>
          </div>
          <div class="detail-item">
            <span>Health</span><span>Unknown</span>
          </div>
          <div class="detail-item">
            <span>Battery Cycle</span><span>-</span>
          </div>
          <div class="detail-item">
            <span>Screen Dim</span><span>Off</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="display: flex;" *ngIf="selectedTab === 'app'">
    <div style="flex: 1; margin-right: 10px; width:80%">
      <div class="containers mt-3">
        <h2>Deployment</h2>
        <mat-card class="mb-3">
          <mat-card-content>
            <div class="d-flex justify-content-between align-items-center">
              <span>Anil</span>
              <span class="text-muted">
                <mat-icon style="vertical-align: middle;">access_time</mat-icon>
                08/26/2024 15:14
              </span>

              <button mat-icon-button style="color: red; opacity: 0.8; cursor: pointer;">
                <mat-icon>delete</mat-icon>
              </button>

            </div>
          </mat-card-content>
        </mat-card>
        <div class="d-flex justify-content-between align-items-center">
          <!-- Firmware Section -->
          <h2>Firmware</h2>
          <button class="btn btn-primary btn-sm">Push</button>
        </div>

        <mat-card class="mb-3">
          <mat-card-content>
            <div class="d-flex justify-content-between align-items-center">
              <span>Current Version: D1.0.11</span>
              <span class="text-muted">
                <mat-icon style="vertical-align: middle;">access_time</mat-icon>
                08/26/2024 16:44</span>
            </div>
          </mat-card-content>
        </mat-card>


        <div class="d-flex justify-content-between align-items-center">
          <h2>Application</h2>
          <button class="btn btn-primary btn-sm">Push</button>
        </div>
        <mat-card>
          <mat-card-header class="buttonsHeader align-items-center justify-content-center">
            <button [ngClass]="{'active-tab': selectedTabApp === 'deployment'}" (click)="selectTabApp('deployment')">Deployment</button>
            <button [ngClass]="{'active-tab': selectedTabApp === 'thirdparty'}" (click)="selectTabApp('thirdparty')">Thirdparty</button>
            <button [ngClass]="{'active-tab': selectedTabApp === 'system'}" (click)="selectTabApp('system')">System</button>
            <button [ngClass]="{'active-tab': selectedTabApp === 'parameter'}" (click)="selectTabApp('parameter')">Parameter</button>
          </mat-card-header>
          <hr style="border: 1px solid grey; opacity: 0.1;">
          <mat-card-content *ngIf="selectedTabApp === 'deployment'">
            <div><strong>Installed</strong></div>
            <hr style="border: 1px solid grey; opacity: 0.1;">
            <div>
              <strong>Not Installed</strong>
            </div>
          </mat-card-content>
          <mat-card-content *ngIf="selectedTabApp === 'thirdparty'">
            <div class="d-flex align-items-center justify-content-around">
              <span class="material-symbols-outlined" style="color:green;">android</span>
              ECR Service (1.0)
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="d-flex align-items-center">
                <button mat-menu-item >
                  <span class="material-symbols-outlined">play_circle</span>
                  Run
                </button>
                <button mat-menu-item >
                  <span class="material-symbols-outlined">cancel</span>
                  Close
                </button>
                <button mat-menu-item >
                  <span class="material-symbols-outlined">delete_forever</span>
                  Uninstall
                </button>
                <hr style="border: 1px solid grey; opacity: 0.1;">
                <button mat-menu-item >
                  <span class="material-symbols-outlined">settings</span>
                  App Settings
                </button>
              </mat-menu>
            </div>
          </mat-card-content>
          <mat-card-content *ngIf="selectedTabApp === 'system'">
            <div><strong>Installed</strong></div>
            <hr style="border: 1px solid grey; opacity: 0.1;">
            <div class="d-flex align-items-center justify-content-around">
              <span class="material-symbols-outlined">function</span>
              ITOMS (3..5.2)
              15.24MB
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="d-flex align-items-center">
                <button mat-menu-item >
                  <span class="material-symbols-outlined">info</span>
                  App Permission
                </button>
              </mat-menu>
            </div>
            <hr style="border: 1px solid grey; opacity: 0.1;">
            <div>
              <strong>Not Installed</strong>
            </div>
          </mat-card-content><mat-card-content *ngIf="selectedTabApp === 'parameter'">
            <table mat-table [dataSource]="dataSource" style="width: 100%;">

              <!-- App Column -->
              <ng-container matColumnDef="app">
                <th mat-header-cell *matHeaderCellDef> App </th>
                <td mat-cell *matCellDef="let element"> {{element.app}} </td>
              </ng-container>

              <!-- Package Name Column -->
              <ng-container matColumnDef="packageName">
                <th mat-header-cell *matHeaderCellDef> Package Name </th>
                <td mat-cell *matCellDef="let element"> {{element.packageName}} </td>
              </ng-container>

              <!-- Application Installation Information Column -->
              <ng-container matColumnDef="applicationInstallationInfo">
                <th mat-header-cell *matHeaderCellDef> Application Installation Information </th>
                <td mat-cell *matCellDef="let element">
                  <span class="label">{{element.applicationInstallationInfo}}</span>
                </td>
              </ng-container>

              <!-- Parameter File Version Column -->
              <ng-container matColumnDef="parameterFileVersion">
                <th mat-header-cell *matHeaderCellDef> Parameter File Version </th>
                <td mat-cell *matCellDef="let element"> {{element.parameterFileVersion}} </td>
              </ng-container>

              <!-- Parameter File Status Column -->
              <ng-container matColumnDef="parameterFileStatus">
                <th mat-header-cell *matHeaderCellDef> Parameter File Status </th>
                <td mat-cell *matCellDef="let element">
                  <span class="label">{{element.parameterFileStatus}}</span>
                </td>
              </ng-container>

              <!-- Publish Column -->
              <ng-container matColumnDef="publish">
                <th mat-header-cell *matHeaderCellDef> Publish </th>
                <td mat-cell *matCellDef="let element"> {{element.publish}} </td>
              </ng-container>

              <!-- Operation Column -->
              <ng-container matColumnDef="operation">
                <th mat-header-cell *matHeaderCellDef> Operation </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>


      </div>
    </div>
    <div class="d-flex flex-column gap-3" style="flex: 1;margin-top: 4rem">
      <mat-card >
        <mat-card-header class="d-flex align-items-center justify-content-between">
            <strong>Push History</strong>
          <button mat-icon-button class="d-flex align-items-end">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content class="contente">
          No Data
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header class="d-flex align-items-center justify-content-between">
          <strong>Device Event Log</strong>
          <div>
            <button mat-icon-button>
              <mat-icon>download</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content class="contente">
          No Data
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="d-flex checks" *ngIf="selectedTab === 'settings'">
    <div class="two-cards">
      <mat-card>
        <mat-card-header>
          <span class="fw-bold">Settings</span>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content *ngFor="let list of lists">
          <button
            [ngClass]="{'active-tab': selectedTabInSettings === list.header}"
            class="btn btn-outline-light settings-ico"
            (click)="selectTabInSettings(list.header)">
            <span class="material-symbols-outlined">
              {{ list.icon }}
            </span>
            {{ list.header }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="second-half-card" *ngIf="selectedTabInSettings === 'Basic Settings'">
      <mat-card>
        <mat-card-header class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">Basic Settings</span>
          <button class="btn btn-primary">Push</button>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content style="display:flex;flex-direction: column;row-gap: 1em;">
          <div class="d-flex align-items-center justify-content-between">
            <span>Screen Brightness</span>
            <span class="material-symbols-outlined">
              light_mode
              </span>
              <mat-slider min="1" max="100" step="1">
                <input matSliderThumb value="0">
              </mat-slider>
              <span class="material-symbols-outlined">
                brightness_high
                </span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span>Media Volume</span>
            <span class="material-symbols-outlined" style="margin-left: 20px;">volume_mute</span>
              <mat-slider min="1" max="100" step="1">
                <input matSliderThumb value="0" color="grey">
              </mat-slider>
              <span class="material-symbols-outlined">volume_up</span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span>Ring Volume</span>
            <span class="material-symbols-outlined" style="margin-left: 30px;">volume_mute</span>
              <mat-slider min="1" max="100" step="1">
                <input matSliderThumb value="0">
              </mat-slider>
              <span class="material-symbols-outlined">volume_up</span>
          </div>
          <div class="d-flex align-items-center">
            <span>Time Zone (GMT)</span>
            <div class="col-md-2"  style="margin-left: 3%;">
              <select class="form-select">  <!-- [(ngModel)]="selectedOption2" (change)="applyFilter()" -->
                <option value="" disabled selected>Select</option>
                <!-- <option *ngFor="let option of optionModel" [value]="option">{{ option }}</option> -->
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span>Language</span>
            <div class="col-md-2"  style="margin-left: 9%;">
              <select class="form-select">  <!-- [(ngModel)]="selectedOption2" (change)="applyFilter()" -->
                <option value="" disabled selected>Select</option>
                <!-- <option *ngFor="let option of optionModel" [value]="option">{{ option }}</option> -->
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span>Sleep Time</span>
            <div class="col-md-2"  style="margin-left: 8%;">
              <select class="form-select">  <!-- [(ngModel)]="selectedOption2" (change)="applyFilter()" -->
                <option value="" disabled selected>Select</option>
                <!-- <option *ngFor="let option of optionModel" [value]="option">{{ option }}</option> -->
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span>Status Bar</span>
            <span class="material-symbols-outlined" style="margin-left: 1%; color:chocolate;">help</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 4.5%;" (change)="onToggleChange($event)">
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="second-half-card" *ngIf="selectedTabInSettings === 'Connect Settings'">
      <mat-card>
        <mat-card-header class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">Connect Settings</span>
          <button class="btn btn-primary">Push</button>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content style="display:flex;flex-direction: column;row-gap: 1em;">
          <div class="d-flex align-items-center">
            <span>Cellular Network</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 4.5%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>GPS</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 14.2%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>BlueTooth</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 9.4%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>Hotspot Menu</span>
            <span class="material-symbols-outlined" style="margin-left: 1%; color:chocolate;">help</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 2.2%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>Forgot Wi-Fi</span>
            <div class="col-md-3"  style="margin-left: 8%;">
              <select class="form-select">  <!-- [(ngModel)]="selectedOption2" (change)="applyFilter()" -->
                <option value="" disabled selected>Please select</option>
                <!-- <option *ngFor="let option of optionModel" [value]="option">{{ option }}</option> -->
              </select>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span>Wi-Fi Switch</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 8%;" (change)="onToggleChange($event)">
            <span class="material-symbols-outlined" style="margin-left: 1%;">wifi_off</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="second-half-card" *ngIf="selectedTabInSettings === 'APN Settings'">
      <mat-card>
        <mat-card-header class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">APN Settings</span>
          <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 2.2%;" (change)="onToggleChange($event)">
          <button class="btn btn-primary">Push</button>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
      </mat-card>
    </div>

    <div class="second-half-card" *ngIf="selectedTabInSettings === 'Payment Modules'">
      <mat-card>
        <mat-card-header class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">Payment Modules</span>
          <button class="btn btn-primary">Push</button>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content style="display:flex;flex-direction: column;row-gap: 1em;">
          <div class="d-flex align-items-center">
            <span>Magnetic Card</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 4.5%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>RF Card</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 9.6%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>IC Card</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 9.8%;" (change)="onToggleChange($event)">
          </div>
          <div class="d-flex align-items-center">
            <span>Printer</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 10.3%;" (change)="onToggleChange($event)">
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="second-half-card" *ngIf="selectedTabInSettings === 'Battery'">
      <mat-card>
        <mat-card-header class="d-flex justify-content-between align-items-center">
          <span class="fw-bold">Battery</span>
          <button class="btn btn-primary">Push</button>
        </mat-card-header>
        <hr style="border: 1px solid grey; opacity: 0.1;">
        <mat-card-content style="display:flex;flex-direction: column;row-gap: 1em;">
          <div class="d-flex align-items-center">
            <span>Battery Protection</span>
            <input type="checkbox" id="toggleSwitch" class="custom-switch" style="margin-left: 4.5%;" (change)="onToggleChange($event)">
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div *ngIf="selectedTab === 'remote'">
    <div class="buttonsHeader align-items-center w-100">
      <div class="col d-flex">
        <button [ngClass]="{'active-tab': selectedTabRemote === 'diagnosis'}" (click)="selectTabRemote('diagnosis')" class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
          <span>Diagnosis</span>
        </button>
        <button [ngClass]="{'active-tab': selectedTabRemote === 'management'}" (click)="selectTabRemote('management')" class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
          <span>Management</span>
        </button>
        <button [ngClass]="{'active-tab': selectedTabRemote === 'more'}" (click)="selectTabRemote('more')" class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
          <span>More</span>
        </button>
        <button [ngClass]="{'active-tab': selectedTabRemote === 'file'}" (click)="selectTabRemote('file')" class="btn btn-outline-primary butt d-flex justify-content-center align-items-center">
          <span>File Download</span>
        </button>
      </div>
      <hr style="border: 1px solid grey; opacity: 0.1;">
    </div>
    <div class="card-container" *ngIf="selectedTabRemote === 'diagnosis'">
      <mat-card *ngFor="let item of cards_remote"
              (click)="onCardClick(item)"
              class="clickable-card"
              [ngClass]="{'active-card': item.isActive}">
      <mat-card-header>
        <mat-icon class="icon">{{item.icon}}</mat-icon>
      </mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <div class="card-footer">
        <hr class="divider-line">
        <mat-card-footer>
          <p class="execution-time">Last Execution Time: {{item.executionTime || '-'}}</p>
        </mat-card-footer>
      </div>
    </mat-card>

    </div>
    <div class="card-container" *ngIf="selectedTabRemote === 'management'">
      <mat-card *ngFor="let item of cards_remote"
              (click)="onCardClick(item)"
              class="clickable-card"
              [ngClass]="{'active-card': item.isActive}">
      <mat-card-header>
        <mat-icon class="icon">{{item.icon}}</mat-icon>
      </mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <div class="card-footer">
        <hr class="divider-line">
        <mat-card-footer>
          <p class="execution-time">Last Execution Time: {{item.executionTime || '-'}}</p>
        </mat-card-footer>
      </div>
    </mat-card>

    </div>
    <div class="card-container" *ngIf="selectedTabRemote === 'more'">
      <mat-card *ngFor="let item of cards_remote"
              (click)="onCardClick(item)"
              class="clickable-card"
              [ngClass]="{'active-card': item.isActive}">
      <mat-card-header>
        <mat-icon class="icon">{{item.icon}}</mat-icon>
      </mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <div class="card-footer">
        <hr class="divider-line">
        <mat-card-footer>
          <p class="execution-time">Last Execution Time: {{item.executionTime || '-'}}</p>
        </mat-card-footer>
      </div>
    </mat-card>

    </div>
    <div class="card-container" *ngIf="selectedTabRemote === 'file'">
      <mat-card class="d-flex w-100 align-items-center">
        <div>
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icons">
              <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
              <polyline points="13 2 13 9 20 9"></polyline>
            </svg>
          </div>
          <p class="text">No Data</p>
        </div>
      </mat-card>
    </div>

  </div>

</div>






<div style="height: 100px;"></div>
