.search-container {
  margin-bottom: 20px;
}
input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}
button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:first-of-type {
  border-radius: 0 4px 4px 0;
}
button:last-of-type {
  border-radius: 4px;
  margin-left: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  // border-spacing: 0 15px;
}

th, td {
  border: none;
  padding: 8px;
  text-align: left;
}
th{
  background-color: rgb(248, 248, 255);
}

td{
  background-color: white;
  // border-bottom: 1px solid rgb(255, 249, 249);
}