<div class="breadcrumb-area">
  <h1>Device Management</h1>
  <ol class="breadcrumb">
    <li class="item"><a routerLink="/admin/user"><i class='bx bx-home-alt'></i></a></li>
    <li class="item">Device Management</li>
    <li class="item">Model</li>
  </ol>
</div>

<div class="search-container">
  <input [(ngModel)]="searchTerm" placeholder="Device SN" (input)="search()">
  <button (click)="search()"><i class="bx bx-search"></i></button>
  <button (click)="openCreateDialog()"><i class="bx bx-plus"></i></button>
</div>
<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Model</th>
      <th>Status</th>
      <th>Created Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of filteredDevices">
      <td>{{ device.serialNumber }}</td>
      <td>{{ device.model }}</td>
      <td>{{ device.status }}</td>
      <td>{{ device.fulldate }}</td>
    </tr>
  </tbody>
</table>